<% provide(:media_active, 'active') %>


<!-- <div class="jumbotron" style="background-image: url(/assets/bannieregoudicheikh.jpeg);background-position: center;background-repeat: no-repeat;width: 100%;height: 630px;padding-bottom: 0px;padding-top: 0px;padding-right: 0px;padding-left: 0px; ">
</div> -->
<h1 class="headline">Gallerie Photos</h1>
<div class="container">
	<div class="row">
		<div class="row">
      <div class="col-lg-4 col-md-4 col-xs-6 thumb">
        <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="" data-image="/assets/abass.jpg" data-target="#image-gallery">
        <img class="img-thumbnail" src="/assets/abass.jpg" alt="Another alt text">
      </a>
    </div>

    <div class="col-lg-4 col-md-4 col-xs-6 thumb">
      <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="" data-image="/assets/thumbabass3.jpg" data-target="#image-gallery">
        <img class="img-thumbnail" src="/assets/thumbabass3.jpg" alt="Another alt text">
      </a>
    </div>

    <div class="col-lg-4 col-md-4 col-xs-6 thumb">
      <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Test1" data-image="/assets/thumbabass4.jpg" data-target="#image-gallery">
        <img class="img-thumbnail" src="/assets/thumbabass4.jpg" alt="Another alt text">
      </a>
    </div>

    <div class="col-lg-4 col-md-4 col-xs-6 thumb">
      <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Test1" data-image="/assets/thumbabass5.jpg" data-target="#image-gallery">
        <img class="img-thumbnail" src="/assets/thumbabass5.jpg" alt="Another alt text">
      </a>
    </div>

    <div class="col-lg-4 col-md-4 col-xs-6 thumb">
      <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Im so nice" data-image="/assets/thumbabass6.jpg" data-target="#image-gallery">
        <img class="img-thumbnail" src="/assets/thumbabass6.jpg" alt="Another alt text">
      </a>
    </div>
    <div class="col-lg-4 col-md-4 col-xs-6 thumb">
      <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Im so nice" data-image="/assets/thumbabass13.jpg" data-target="#image-gallery">
        <img class="img-thumbnail" src="/assets/thumbabass13.jpg" alt="Another alt text">
      </a>
    </div>
    <div class="col-lg-4 col-md-4 col-xs-6 thumb">
      <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Im so nice" data-image="/assets/thumbabass8.jpg" data-target="#image-gallery">
        <img class="img-thumbnail" src="/assets/thumbabass7.jpg" alt="Another alt text">
      </a>
    </div>
    <div class="col-lg-4 col-md-4 col-xs-6 thumb">
      <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Im so nice" data-image="/assets/thumbabass9.jpg" data-target="#image-gallery">
        <img class="img-thumbnail" src="/assets/thumbabass9.jpg" alt="Another alt text">
      </a>
    </div>
    <div class="col-lg-4 col-md-4 col-xs-6 thumb">
      <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Im so nice" data-image="/assets/thumbabass10.jpg" data-target="#image-gallery">
        <img class="img-thumbnail" src="/assets/thumbabass10.jpg" alt="Another alt text">
      </a>
    </div>
    <div class="col-lg-4 col-md-4 col-xs-6 thumb">
      <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Im so nice" data-image="/assets/thumbabass11.jpg" data-target="#image-gallery">
        <img class="img-thumbnail" src="/assets/thumbabass11.jpg" alt="Another alt text">
      </a>
    </div>
    <div class="col-lg-4 col-md-4 col-xs-6 thumb">
      <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Im so nice" data-image="/assets/thumbabass12.jpg" data-target="#image-gallery">
        <img class="img-thumbnail" src="/assets/thumbabass12.jpg" alt="Another alt text">
      </a>
    </div>    
    <div class="col-lg-4 col-md-4 col-xs-6 thumb">
      <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Im so nice" data-image="/assets/thumbabass14.jpg" data-target="#image-gallery">
        <img class="img-thumbnail" src="/assets/thumbabass14.jpg" alt="Another alt text">
      </a>
    </div>   
    <div class="col-lg-4 col-md-4 col-xs-6 thumb">
      <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Im so nice" data-image="/assets/thumbabass15.jpg" data-target="#image-gallery">
        <img class="img-thumbnail" src="/assets/thumbabass15.jpg" alt="Another alt text">
      </a>
    </div>   
    <div class="col-lg-4 col-md-4 col-xs-6 thumb">
      <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Im so nice" data-image="/assets/thumbabass16.jpg" data-target="#image-gallery">
        <img class="img-thumbnail" src="/assets/thumbabass16.jpg" alt="Another alt text">
      </a>
    </div>   
    <div class="col-lg-4 col-md-4 col-xs-6 thumb">
      <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Im so nice" data-image="/assets/thumbabass17.jpg" data-target="#image-gallery">
        <img class="img-thumbnail" src="/assets/thumbabass17.jpg" alt="Another alt text">
      </a>
    </div>   
    <div class="col-lg-4 col-md-4 col-xs-6 thumb">
      <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Im so nice" data-image="/assets/thumbabass18.jpg" data-target="#image-gallery">
        <img class="img-thumbnail" src="/assets/thumbabass18.jpg" alt="Another alt text">
      </a>
    </div>   
    <div class="col-lg-4 col-md-4 col-xs-6 thumb">
      <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Im so nice" data-image="/assets/thumbabass19.jpg" data-target="#image-gallery">
        <img class="img-thumbnail" src="/assets/thumbabass19.jpg" alt="Another alt text">
      </a>
    </div>   
    <div class="col-lg-4 col-md-4 col-xs-6 thumb">
      <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Im so nice" data-image="/assets/thumbabass20.jpg" data-target="#image-gallery">
        <img class="img-thumbnail" src="/assets/thumbabass20.jpg" alt="Another alt text">
      </a>
    </div>   
    <div class="col-lg-4 col-md-4 col-xs-6 thumb">
      <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Im so nice" data-image="/assets/thumbabass21.jpg" data-target="#image-gallery">
        <img class="img-thumbnail" src="/assets/thumbabass21.jpg" alt="Another alt text">
      </a>
    </div>   
    <div class="col-lg-4 col-md-4 col-xs-6 thumb">
      <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Im so nice" data-image="/assets/thumbabass22.jpg" data-target="#image-gallery">
        <img class="img-thumbnail" src="/assets/thumbabass22.jpg" alt="Another alt text">
      </a>
    </div>   
    <div class="col-lg-4 col-md-4 col-xs-6 thumb">
      <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Im so nice" data-image="/assets/thumbabass23.jpg" data-target="#image-gallery">
        <img class="img-thumbnail" src="/assets/thumbabass23.jpg" alt="Another alt text">
      </a>
    </div>   
    <div class="col-lg-4 col-md-4 col-xs-6 thumb">
      <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Im so nice" data-image="/assets/thumbabass24.jpg" data-target="#image-gallery">
        <img class="img-thumbnail" src="/assets/thumbabass24.jpg" alt="Another alt text">
      </a>
    </div>   
    <div class="col-lg-4 col-md-4 col-xs-6 thumb">
      <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Im so nice" data-image="/assets/thumbabass25.jpg" data-target="#image-gallery">
        <img class="img-thumbnail" src="/assets/thumbabass25.jpg" alt="Another alt text">
      </a>
    </div>   
    <div class="col-lg-4 col-md-4 col-xs-6 thumb">
      <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Im so nice" data-image="/assets/thumbabass26.jpg" data-target="#image-gallery">
        <img class="img-thumbnail" src="/assets/thumbabass26.jpg" alt="Another alt text">
      </a>
    </div>   
    <div class="col-lg-4 col-md-4 col-xs-6 thumb">
      <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Im so nice" data-image="/assets/thumbabass27.jpg" data-target="#image-gallery">
        <img class="img-thumbnail" src="/assets/thumbabass27.jpg" alt="Another alt text">
      </a>
    </div>   
    <div class="col-lg-4 col-md-4 col-xs-6 thumb">
      <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Im so nice" data-image="/assets/thumbabass28.jpg" data-target="#image-gallery">
        <img class="img-thumbnail" src="/assets/thumbabass28.jpg" alt="Another alt text">
      </a>
    </div>   
    <div class="col-lg-4 col-md-4 col-xs-6 thumb">
      <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Im so nice" data-image="/assets/thumbabass29.jpg" data-target="#image-gallery">
        <img class="img-thumbnail" src="/assets/thumbabass29.jpg" alt="Another alt text">
      </a>
    </div>   
    <div class="col-lg-4 col-md-4 col-xs-6 thumb">
      <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Im so nice" data-image="/assets/thumbabass30.jpg" data-target="#image-gallery">
        <img class="img-thumbnail" src="/assets/thumbabass30.jpg" alt="Another alt text">
      </a>
    </div>   
    <div class="col-lg-4 col-md-4 col-xs-6 thumb">
      <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Im so nice" data-image="/assets/thumbabass31.jpg" data-target="#image-gallery">
        <img class="img-thumbnail" src="/assets/thumbabass31.jpg" alt="Another alt text">
      </a>
    </div>   
    <div class="col-lg-4 col-md-4 col-xs-6 thumb">
      <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Im so nice" data-image="/assets/thumbabass32.jpg" data-target="#image-gallery">
        <img class="img-thumbnail" src="/assets/thumbabass32.jpg" alt="Another alt text">
      </a>
    </div>   
    <div class="col-lg-4 col-md-4 col-xs-6 thumb">
      <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Im so nice" data-image="/assets/thumbabass33.jpg" data-target="#image-gallery">
        <img class="img-thumbnail" src="/assets/thumbabass33.jpg" alt="Another alt text">
      </a>
    </div>   
    <div class="col-lg-4 col-md-4 col-xs-6 thumb">
      <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Im so nice" data-image="/assets/thumbabass34.jpg" data-target="#image-gallery">
        <img class="img-thumbnail" src="/assets/thumbabass34.jpg" alt="Another alt text">
      </a>
    </div>   
    <div class="col-lg-4 col-md-4 col-xs-6 thumb">
      <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Im so nice" data-image="/assets/thumbabass35.jpg" data-target="#image-gallery">
        <img class="img-thumbnail" src="/assets/thumbabass35.jpg" alt="Another alt text">
      </a>
    </div>
  </div>
  <div class="modal fade" id="image-gallery" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="image-gallery-title"></h4>
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span>
          </button>
        </div>
        <div class="modal-body">
          <img id="image-gallery-image" class="img-responsive col-md-12" src="">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary float-left" id="show-previous-image"><i class="fa fa-arrow-left"></i>
          </button>
          <button type="button" id="show-next-image" class="btn btn-secondary float-right"><i class="fa fa-arrow-right"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
	<h1 class="headline">Gallerie Videos</h1>

<div class="container">
  <div>
    <h2><span class="big"> Laylatoul Khatmiya - 2018</span></h2>
  </div>
  <div class="offset-lg-top-30 offset-xxl-top-66 text-lg-left">
    <div class="row justify-content-lg-center justify-content-xxl-between grid-group-md">

      <div class="col-lg-6">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/JrRyBvNlow8" allowfullscreen="">
          </iframe>
        </div>
      </div>
      <div class="col-lg-6 col-xl-5">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/D1NewCmMPlg" allowfullscreen="">
          </iframe>
        </div>
        <p class="offset-top-20">Gamou Chabiba Khayra 2016 N2 Avec Cheikh Mar Abass</p>
        <div class="offset-top-41">Pour plus de vidéos consultez notre chaîne YouTube</div> 
        <a class="btn btn-danger btn-md btn-anis-effect" style="display: inline-grid;" href="https://www.youtube.com/channel/UCt4c4AXkQ32_M6aObt2-kQA?view_as=subscriber"><span class="btn-text">Ummah Abassiya - Wakeur Cheikhana Abass Sall</span><i class="fab fa-youtube fa-5x"></i></a>
      </div>
      
    </div>
  </div>
</div>
<!-- 
	<div class="bs-example">
  <a href="#myModal" class="btn btn-lg btn-danger" data-toggle="modal">Video Du Jour</a>
  <div id="myModal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Videos</h4>
        </div>
        <div class="modal-body">
          <iframe id="cartoonVideo" width="560" height="315" src="https://www.youtube.com/embed/I40EmF51UY4" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</div>  
<div class="bs-example">
  <a href="#myModal" class="btn btn-lg btn-danger" data-toggle="modal">Video Du Jour</a>
  <div id="myModal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Videos</h4>
        </div>
        <div class="modal-body">
          <iframe id="cartoonVideo" width="560" height="315" src="https://www.youtube.com/embed/I40EmF51UY4" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</div>  
<div class="bs-example">
  <a href="#myModal" class="btn btn-lg btn-danger" data-toggle="modal">Video Du Jour</a>
  <div id="myModal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Videos</h4>
        </div>
        <div class="modal-body">
          <iframe id="cartoonVideo" width="560" height="315" src="https://www.youtube.com/embed/I40EmF51UY4" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</div>  
<div class="bs-example">
  <a href="#myModal" class="btn btn-lg btn-danger" data-toggle="modal">Video Du Jour</a>
  <div id="myModal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Videos</h4>
        </div>
        <div class="modal-body">
          <iframe id="cartoonVideo" width="560" height="315" src="https://www.youtube.com/embed/I40EmF51UY4" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</div>  
<div class="bs-example">
  <a href="#myModal" class="btn btn-lg btn-danger" data-toggle="modal">Video Du Jour</a>
  <div id="myModal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Videos</h4>
        </div>
        <div class="modal-body">
          <iframe id="cartoonVideo" width="560" height="315" src="https://www.youtube.com/embed/I40EmF51UY4" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</div>  
<div class="bs-example">
  <a href="#myModal" class="btn btn-lg btn-danger" data-toggle="modal">Video Du Jour</a>
  <div id="myModal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Videos</h4>
        </div>
        <div class="modal-body">
          <iframe id="cartoonVideo" width="560" height="315" src="https://www.youtube.com/embed/I40EmF51UY4" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</div>  
 -->
<style>
	.btn:focus, .btn:active, button:focus, button:active {
  outline: none !important;
  box-shadow: none !important;
}

#image-gallery .modal-footer{
  display: block;
}

.thumb{
  margin-top: 15px;
  margin-bottom: 15px;
}
</style>

<script>

$(document)
  .ready(function () {

    loadGallery(true, 'a.thumbnail');

    //This function disables buttons when needed
    function disableButtons(counter_max, counter_current) {
      $('#show-previous-image, #show-next-image')
        .show();
      if (counter_max === counter_current) {
        $('#show-next-image')
          .hide();
      } else if (counter_current === 1) {
        $('#show-previous-image')
          .hide();
      }
    }

    /**
     *
     * @param setIDs        Sets IDs when DOM is loaded. If using a PHP counter, set to false.
     * @param setClickAttr  Sets the attribute for the click handler.
     */

    function loadGallery(setIDs, setClickAttr) {
      let current_image,
        selector,
        counter = 0;

      $('#show-next-image, #show-previous-image')
        .click(function () {
          if ($(this)
            .attr('id') === 'show-previous-image') {
            current_image--;
          } else {
            current_image++;
          }

          selector = $('[data-image-id="' + current_image + '"]');
          updateGallery(selector);
        });

      function updateGallery(selector) {
        let $sel = selector;
        current_image = $sel.data('image-id');
        $('#image-gallery-title')
          .text($sel.data('title'));
        $('#image-gallery-image')
          .attr('src', $sel.data('image'));
        disableButtons(counter, $sel.data('image-id'));
      }

      if (setIDs == true) {
        $('[data-image-id]')
          .each(function () {
            counter++;
            $(this)
              .attr('data-image-id', counter);
          });
      }
      $(setClickAttr)
        .on('click', function () {
          updateGallery($(this));
        });
    }
  });

// build key actions
$(document)
  .keydown(function (e) {
    switch (e.which) {
      case 37: // left
        if ((modalId.data('bs.modal') || {})._isShown && $('#show-previous-image').is(":visible")) {
          $('#show-previous-image')
            .click();
        }
        break;

      case 39: // right
        if ((modalId.data('bs.modal') || {})._isShown && $('#show-next-image').is(":visible")) {
          $('#show-next-image')
            .click();
        }
        break;

      default:
        return; // exit this handler for other keys
    }
    e.preventDefault(); // prevent the default action (scroll / move caret)
  });

    $(function() {
      $('img').bind('contextmenu', function() {
        return false;
      })
    })

</script>