
    <body>
 
        <header>
            <h2 href="#"> Mountain Travel</h2>
            <nav>
               <li><a href="#">Main</a> </li> 
                <li><a href="#">404</a> </li>
                <li><a href="#">Contact</a> </li>
                
            </nav>
            </header>
            
            <section class="hero">
            <div class="background-image" style="background-image: url(https://wallpaper-house.com/data/out/7/wallpaper2you_139824.jpg)"></div>
                <div class="hero-content-area">
                <h1>Cheikhana Abass Sall</h1>
                    <h3> Cheikhana Abass Sall</h3>
                <!-- <a href="#" class="btn">Contact Us</a> -->
                </div>
                
            </section>
                   <audio controls autoplay>
    <source src="https://youtu.be/I40EmF51UY4" type="audio/mp3">
    <source src="https://youtu.be/I40EmF51UY4" type="audio/mp3">
    Your browser does not support the audio element.
</audio>
        <section class="destinations">
        <h3 class="title">ummah abassiya</h3>
            <p>blah blash blahs blahs blahss</p>
            <hr>
           
        </section>
           
        <section class="contact">
    <h3 class="title">ummah abassiya</h3>  
    <p>Bismillahi Rahmani Rahimi</p>
    <hr>

 <!--    <form>
      <input type="email" placeholder="Email">
      <a href="#" class="btn">Subscribe now</a>
    </form> -->
  </section>
    </body>