<div class="col-lg-3 offset-lg-5">
  <div class="social-icon">Connectez
    <a target="_blank" href="https://www.facebook.com/Ummah-Abassiya-Wakeur-Cheikhana-Abass-Sall-Attidjany-708653062849214/" class="fab fa-facebook fa-lg"  style="color: #4267b2;"></a> 
    <a target="_blank" href="https://twitter.com/ummahabassiya" class=" fab fa-twitter fa-lg"   style="color: #00ADFB;"></a> 
    <a target="_blank" href="https://www.instagram.com/ummahabassiya/" class=" fab fa-instagram fa-lg" style="color: #E4405F;""></a> 
    <a target="_blank" href="https://www.youtube.com/channel/UCt4c4AXkQ32_M6aObt2-kQA?view_as=subscriber" class=" fab fa-youtube fa-lg"   style="color: #cd201f;"></a> 
    <a target="_blank" href="#" class=" fab fa-vimeo-square fa-lg"></a> 
    <a target="_blank" href="#" class=" fas fa-at fa-lg"></a>
  </div>
</div>

<div class="onoffswitch3">
  <input type="checkbox" name="onoffswitch3" class="onoffswitch3-checkbox" id="myonoffswitch3" checked>
  <label class="onoffswitch3-label" for="myonoffswitch3">
    <span class="onoffswitch3-inner">
      <span class="onoffswitch3-active">
        <marquee class="scroll-text">Yewoulen Te Yete, Nalaw Yi Yaguana - Leylatoul Khatmiya 2018 -
          <span class="glyphicon glyphicon-forward"></span>Sous l'égide de Serigne Mansour Sall, Khalif de Sheikhana Abass Sall (RTA)<span class="glyphicon glyphicon-forward"></span>, nous vous invitons à la plus grande nuit de la Tidianya qui aura lieu le samedi 27 octobre 2018 à Dieupeul3 Villa 2703.
        </marquee>
        <span class="onoffswitch3-switch"><span class="fas fa-bell fa-2x" style="color:yellow;"></span></span>
      </span>
      <span class="onoffswitch3-inactive"><span class="onoffswitch3-switch">SHOW BREAKING NEWS</span></span>
    </span>
  </label>
</div>

<!-- <h3 class="text-center">
  <a href="" class="typewrite" data-period="2000" data-type='[ ""]'>
    <span class="wrap"></span>
  </a>
</h3> -->
<section class="banner-sec">
  <div class="container" style="margin-left:20px">
    <div class="row">

      <div class="col-md-6 top-slider slideshow carousel-inner">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel"> 
                <!-- Indicators -->
          <ol class="carousel-indicators" style="margin-bottom: 0px;">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            <li data-target="#carousel-example-generic" data-slide-to="3"></li>
            <li data-target="#carousel-example-generic" data-slide-to="4"></li>
            <li data-target="#carousel-example-generic" data-slide-to="5"></li>
            <li data-target="#carousel-example-generic" data-slide-to="6"></li>
            <li data-target="#carousel-example-generic" data-slide-to="7"></li>
            <li data-target="#carousel-example-generic" data-slide-to="8"></li>
            <li data-target="#carousel-example-generic" data-slide-to="9"></li>
            <li data-target="#carousel-example-generic" data-slide-to="10"></li>
            <li data-target="#carousel-example-generic" data-slide-to="11"></li>
          </ol>
                
            <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">

            <div class="carousel-item active">
              <div class="news-block">
                <div class="news-media"><img class="img-fluid" src="/assets/abass&mountaga.jpg" alt=""></div>
                <div class="news-title">
                  <h2 class=" title-large"><a href="#">Cheikhana Abass(RTA) & Thierno Mountaga Tall(RTA)</a></h2>
                </div>
                <div class="news-des">
                De son vrai nom Abdallah Ibn Abbas (RTA), il est né un samedi du mois de rajab 1327 de l’hégire (en juin 1909) à Nguick, village du Njambur situé à 4km à l’ouest de Sakal. Par sa lignée paternelle, Serigne Abass Sall est un descendant des Sall de Guédé qui du Fouta Toro avaient transité par Wowlu pour s’installer à Ndia Goureye. Son père Mame Mayoro Sall était fils de Fama Aïcha Niang et de Goumba Farma Sall. Ces Salsalbé se disent descendants d'arabe :</div>
                <div class="time-text"><strong></strong></div>
                <div></div>
              </div>
            </div>

            <div class="carousel-item">
              <div class="news-block">
                <div class="news-media"><img class="img-fluid" src="/assets/abdou&abass.jpeg" alt=""></div>
                <div class="news-title">
                  <h2 class=" title-large"><a href="#">Cheikhana Abass Sall(RTA) & Abdou Aziz Sy Dabakh(RTA)</a></h2>
                </div>
                <div class="news-des">
                  le Quraich Uqba ibn Nafi serait leur ancêtre commun (voir la généalogie). Le septième enfant de Mame Mayoro Sall était baptisé Abdallah ibn Abbas en souvenir du célèbre compagnon de l’Islam surnommé Al Hibr (le docteur) ou Al Bahr (la mer) qui, ayant vécu de 618 à 688, fut l’un des plus grands savants de la première génération des musulmans.Admiratrice enthousiaste du prophète Muhammad (psl) , sa mère Fatoumata Wade l’appelait chaleureusement Muhammad Abass.</div>
                <div class="time-text"><strong></strong></div>
                <div></div>
              </div>
            </div>

            <div class="carousel-item">
              <div class="news-block">
                <div class="news-media"><img class="img-fluid" src="/assets/abass.jpg" alt=""></div>
                <div class="news-title">
                  <h2 class=" title-large"><a href="#">Cheikhana Abass Sall(RTA)</a></h2>
                </div>
                <div class="news-des">
                  Mame Mariéme Ndiaye, mère de Sokhna Fatou Wade, est issue d’un métissage sérère-walo-walo. La branche paternelle de Sokhna Fatou Wade était d’ascendance halpulaar. El Hadji Ahmadou Wade fut l’un des premiers érudits du Njambur et de Saint-Louis à avoir effectué le pèlerinage à La Mecque (avant 1889). La grande notoriété du maître de l’école de Nguick explique, selon les témoignages, les visites d’El Hadji Malick Sy, à qui il confiera plus tard tous ses disciples.</div>
                <div class="time-text"><strong></strong></div>
                <div></div>
              </div>
            </div>

            <div class="carousel-item">
              <div class="news-block">
                <div class="news-media"><img class="img-fluid" src="/assets/abasssolo.jpg" alt=""></div>
                <div class="news-title">
                  <h2 class=" title-large"><a href="#">Cheikhana Abass Sall(RTA)</a></h2>
                </div>
                <div class="news-des">Éminent intellectuel, Serigne Abass Sall (RTA) se déplaçait souvent avec sa lourde collection d’ouvrages et de manuels islamiques. Son enseignement se résume en 7 principes de base:</div>
                <div class="time-text"><strong></strong></div>
                <div></div>
              </div>
            </div>

            <div class="carousel-item">
              <div class="news-block">
                <div class="news-media"><img class="img-fluid" src="/assets/abassengroupe.jpg" alt=""></div>
                <div class="news-title">
                  <h2 class=" title-large"><a href="#">Cheikhana Abass Sall(RTA)</a></h2>
                </div>
                <div class="news-des">
                  <ol>
                    <li>
                      Œuvrer avec ses disciples sur le droit chemin tracé par Dieu et indiquer par le prophète (psl).
                    </li>
                    <li>Éviter tous les interdits et se vouer à toutes les recommandations.</li>
                    <li>Se procurer soi-même de quoi vivre par une voie légale.</li>
                    <li>Avoir le maximum de considération, de fidélité, et d’amour envers ses parents.
                    </li>
                  </ol>
                </div>
                <div class="time-text"><strong></strong></div>
                <div></div>
              </div>
            </div>

            <div class="carousel-item">
              <div class="news-block">
                <div class="news-media"><img class="img-fluid" src="/assets/ibnabass.jpg" alt=""></div>
                <div class="news-title">
                  <h2 class=" title-large"><a href="#">Cheikhana Abass Sall(RTA)</a></h2>
                </div>
                <div class="news-des">
                  <ol>
                    <li>S’investir au mieux pour acquérir des connaissances islamiques nécessaires à l’adoration divine.</li>
                    <li>Considérer la tidjaniya comme la voie la plus perfectionnée à suivre par le musulman pour plaire à Dieu.</li>
                    <li>Savoir faire la distinction entre la suprématie divine, les mérites inégalables du prophète Muhammad (psl) et la bénédiction insondable de Cheikh Ahmad At-Tidjani (le sceau des saints).
                    </li>
                  </ol>
                </div>
                <div class="time-text"><strong></strong></div>
                <div></div>
              </div>
            </div>

            <div class="carousel-item">
              <div class="news-block">
                <div class="news-media"><img class="img-fluid" src="/assets/serignemansour.jpg" alt=""></div>
                <div class="news-title">
                  <h2 class=" title-large"><a href="#">DR. Mouhamadoul Mansour Sall - Khalife General De Cheikhana Abass Sall(RTA)</a></h2>
                </div>
                <div class="news-des"></div>
                <div class="time-text"><strong></strong></div>
                <div></div>
              </div>
            </div>


            <div class="carousel-item">
              <div class="news-block">
                <div class="news-media"><img class="img-fluid" src="/assets/serignemansoursall.jpg" alt=""></div>
                <div class="news-title">
                  <h2 class=" title-large"><a href="#">DR. Mouhamadoul Mansour Sall - Khalife General De Cheikhana Abass Sall(RTA)</a></h2>
                </div>
                <div class="news-des"></div>
                <div class="time-text"><strong></strong></div>
                <div></div>
              </div>
            </div>

            <div class="carousel-item">
              <div class="news-block">
                <div class="news-media"><img class="img-fluid" src="/assets/serigne_abass_sall" alt=""></div>
                <div class="news-title">
                  <h2 class=" title-large"><a href="#">Cheikhana Abass Sall(RTA)</a></h2>
                </div>
                <div class="news-des"></div>
                <div class="time-text"><strong></strong></div>
                <div></div>
              </div>
            </div>

            <div class="carousel-item">
              <div class="news-block">
                <div class="news-media"><img class="img-fluid" src="/assets/tontonahmed.jpg" alt=""></div>
                <div class="news-title">
                  <h2 class=" title-large"><a href="#">Serigne Ahmed Sall(RTA) Ibn Cheikhana Abass Sall (RTA)</a></h2>
                </div>
                <div class="news-des"></div>
                <div class="time-text"><strong></strong></div>
                <div></div>
              </div>
            </div>

            <div class="carousel-item">
              <div class="news-block">
                <div class="news-media"><img class="img-fluid" src="/assets/cheikhgaye.jpg" alt=""></div>
                <div class="news-title">
                  <h2 class=" title-large"><a href="#">Cheikh Tidiane Gaye(RTA)</a></h2>
                </div>
                <div class="news-des"></div>
                <div class="time-text"><strong></strong></div>
                <div></div>
              </div>
            </div>

            <div class="carousel-item">
              <div class="news-block">
                <div class="news-media"><img class="img-fluid" src="/assets/laminewade.jpg" alt=""></div>
                <div class="news-title">
                  <h2 class=" title-large"><a href="#">Imam Serigne Lamine Wade(RTA)</a></h2>
                </div>
                <div class="news-des"></div>
                <div class="time-text"><strong></strong></div>
                <div></div>
              </div>
            </div>
          </div>
        </div>
        <audio controls="controls">
          <source src="/assets/Tawassoul.mp3" type="audio/mpeg">
          <source src="/assets/Tawassoul.ogg" type="audio/ogg">
          Your browser does not support the audio tag.
          <h6>Tawassoulou Cheikhana Abass Sall (RTA)</h6>
        </audio>
      </div>
      <div class="col-md-3">
        <iframe width="100%" height="300" style="margin-bottom: 20px;" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/523822932&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true">
        </iframe>

        <iframe width="100%" height="300" style="margin-bottom: 20px;" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/523832127&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>

 <!--        <div class="card thumbnail card"> <img class="img-fluid card-img" src="/assets/tontonmansour.jpg" alt="">
          <div class="card-img-overlay"> <span class="badge badge-pill badge-danger">Part-01</span> </div>
          <div class="card-body">
            <div class="news-title">
              <h2 class=" title-small"><a href="#">Serigne Mansour Sall</a></h2>
            </div>
            <p class="card-text"><small class="text-time"><em>Edition Nguick</em></small></p>
            <audio src="/assets/wakhtaneserignemansour.mp3" type="audio/mp3" controls>
            Your browser does not support the audio element.
            </audio>
          </div>
        </div> -->
      </div>

      <div class="col-md-3">

        <iframe width="100%" height="300" style="margin-bottom: 20px;" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/523834269&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true">
        </iframe>


        <div class="card thumbnail card"> <img class="img-fluid card-img" src="/assets/mansoursallakasswade.jpg" alt="">
          <div class="card-img-overlay"> <span class="badge badge-pill badge-danger">Part-03</span> </div>
          <div class="card-body">
            <div class="news-title">
              <h2 class=" title-small"><a href="#">Wakhtane Imam Ahmed Baye Dame ci Alarbay karè</a></h2>
            </div>
            <p class="card-text"><small class="text-time"><em>Edition Special</em></small></p>
            <audio src="/assets/Alarbakarebayedame.mp3" type="audio/mp3" controls>
            Your browser does not support the audio element.
            </audio>
          </div>
        </div>

      </div>

    </div>
  </div>
</section>

<!-- electronic patient diaries that will alert the nurse coordinator if it is not fill out.
Patient portal that stores research patient research data for them to view
Clinical Trial Web Page Design
 -->

<h1 class="headline">Repères Islamique</h1>

<div class="container" style="margin-top:30px">
  <div class="row">

      <div class="item col-xs-4 col-lg-3" >
        <div class="thumbnail card" style="height: 620px; overflow:scroll;">
          <div class="img-event">
            <img class="group list-group-image img-fluid" src="/assets/islam.jpeg" alt="" />
          </div>
          <div class="caption card-body">
            <h4 class="group card-title inner list-group-item-heading">Qu'est ce que l'Islam?</h4>
            <p class="group inner list-group-item-text">
<!--                 <button class="btn btn-outline-secondary" data-toggle="collapse" data-target="#islam">Simple collapsible</button>
                <div id="islam" class="collapse">
                </div> -->
          <p>
            Le mot "Islam" est un mot arabe qui signifie "soumission à la volonté de Dieu". Ce mot vient de la même racine que le mot arabe "salam", qui signifie "paix". En tant que tel, la religion de l'Islam enseigne que, pour atteindre la vraie paix de l'esprit et la certitude du cœur, il faut se soumettre à Dieu et vivre selon Sa Loi divinement révélée. La vérité la plus importante que Dieu a révélée à l'humanité est qu'il n'y a rien de divin ou de digne d'être adoré sauf pour le Dieu Tout-Puissant, ainsi tous les êtres humains devraient se soumettre à Lui.
          </p>

          <h4class="group card-title inner list-group-item-heading">Musulman -</h4>
          <p>
            Le mot "musulman" signifie celui qui se soumet à la volonté de Dieu, indépendamment de leur race, leur nationalité ou leur origine ethnique. Être musulman implique une soumission volontaire et une obéissance active à Dieu, et une vie conforme à son message. Certaines personnes croient à tort que l'islam n'est qu'une religion pour les Arabes, mais rien ne pourrait être plus éloigné de la vérité. Non seulement on se convertit à l'islam aux quatre coins du monde, surtout en Angleterre et en Amérique, mais en regardant le monde musulman de la Bosnie au Nigeria et de l'Indonésie au Maroc, on peut voir clairement que les musulmans viennent de différents pays. races, groupes ethniques et nationalités. Il est également intéressant de noter qu'en réalité, plus de 80% de tous les musulmans ne sont pas arabes - il y a plus de musulmans en Indonésie que dans tout le monde arabe! Donc, même s'il est vrai que la plupart des Arabes sont musulmans, la grande majorité des musulmans ne sont pas arabes. Cependant, quiconque se soumet complètement à Dieu et le vénère seul est un musulman.                
              </p>
<!--               <div class="row">
                <div class="col-xs-12 col-md-6">
                  <p class="lead">$21.000</p>
                </div>
                <div class="col-xs-12 col-md-6">
                  <a class="btn btn-success" href="http://www.jquery2dotnet.com">Add to cart</a>
                </div>
              </div> -->
            </div>
          </div>
        </div>

      <div class="item col-xs-4 col-lg-3" >
        <div class="thumbnail card" style="height: 620px; overflow:scroll;">
          <div class="img-event">
            <img class="group list-group-image img-fluid" src="/assets/muhammadsaws.jpeg" alt="" />
          </div>
          <div class="caption card-body">
            <h4 class="group card-title inner list-group-item-heading">Le Prophet Muhammad (SAWS)</h4>
            <p class="group inner list-group-item-text">

 le Dernier des Prophètes, le Chef des Pieux, le Prince des Croyants, l'Elu du Plus Miséricordieux - Muhammad, le Messager de Dieu.

Il avait un visage agréable, rond, blanc et juste. Ses cheveux tombaient sur ses lobes d'oreille. Sa barbe était épaisse et noire. Quand il était content, son visage s'allumait. Son rire n'était rien de plus qu'un sourire. Ses yeux étaient noirs et ses cils étaient longs. Ses longs sourcils étaient courbés. Quand les yeux d'Abdullah ibn Salam, le grand rabbin de Médine, tombèrent sur son visage, il déclara qu'un visage si noble ne pouvait être le visage d'un menteur!

Il était de taille moyenne, ni grand ni petit. Il marchait incliné en avant. Il portait des sandales en cuir tannées. Ses pantalons atteindraient au milieu de son tibia ou parfois juste au-dessus de ses chevilles.

Sur son dos, vers l'épaule gauche était le «Sceau de la prophétie». C'était la taille d'un œuf de pigeon avec des taches comme des grains de beauté dessus. Ses paumes étaient décrites comme étant plus douces que le brocart de soie.

Il a été reconnu par son parfum quand il s'est approché de loin. Les gouttes de sa transpiration étaient décrites comme des perles. Ses compagnons recueillaient sa sueur pour se mêler à leurs parfums qui les rendaient encore plus parfumés!

La doctrine islamique tient si quelqu'un a été béni avec la vision du Prophète dans un rêve tel que décrit, alors en effet, ils l'ont vu.</p>
<!--               <div class="row">
                <div class="col-xs-12 col-md-6">
                  <p class="lead">$21.000</p>
                </div>
                <div class="col-xs-12 col-md-6">
                  <a class="btn btn-success" href="http://www.jquery2dotnet.com">Add to cart</a>
                </div>
              </div> -->
            </div>
          </div>
        </div>

      <div class="item col-xs-4 col-lg-3" >
        <div class="thumbnail card" style="height: 620px; overflow:scroll;">
          <div class="img-event">
            <img class="group list-group-image img-fluid" src="/assets/lecoran.jpg" alt="" />
          </div>
          <div class="caption card-body">
            <h4 class="group card-title inner list-group-item-heading">Le Coran</h4>
            <p class="group inner list-group-item-text">
              Le Coran (en arabe : القُرْآن, al-Qor’ân?, signifiant « la récitation ») est le texte sacré de l'islam. Pour les musulmans, il reprend verbatim la parole de Dieu (Allah) l'unique. Ce livre reste le premier et le plus ancien document littéraire, completNote 1 et authentique connu en arabe jusqu'à ce jour1,2 alors que la tradition musulmane le présente comme le premier ouvrage en arabe, avec le caractère spécifique d'inimitabilité dans la beauté et dans les idées.

Pour les musulmans, le Coran regroupe les paroles de Dieu, révélations (āyāt) faites au dernier prophète et messager de Dieu Mahomet (محمد, Muḥammad, « le loué ») à partir de 610–612 jusqu'à sa mort en 6323 par l'archange Gabriel (جبريل, Jibrîl).

Le Coran est parfois appelé simplement al-kitâb (« le Livre »), adh-dhikr (« le Rappel ») ou encore al-furqân (« le Discernement »). En ce sens, il est, pour les musulmans, l'expression d'un attribut incréé de Dieu adressée à l'intention de toute l'humanité. Les conditions de la mise par écrit puis de la fixation canonique du texte que la tradition fait remonter au troisième calife, Uthmân, font toujours l'objet de recherches et de débats parmi les exégètes et historiens du xxie siècle.</p>
 <!--              <div class="row">
                <div class="col-xs-12 col-md-6">
                  <p class="lead">$21.000</p>
                </div>
                <div class="col-xs-12 col-md-6">
                  <a class="btn btn-success" href="http://www.jquery2dotnet.com">Add to cart</a>
                </div>
              </div> -->
            </div>
          </div>
        </div>

    <div class="col-sm-3">
      <h2 class="text-center">Prayer Times - Heures De Prieres
        <iframe src="https://timesprayer.com/widgets.php?frame=2&amp;lang=en&amp;name=washington&amp;avachang=true&amp;time=0" style="border: none; overflow: hidden; width: 100%; height: 275px;"></iframe>
      </h2>
      <!-- <h5>Photo of me:</h5> -->
      <h3>Al Quran</h3>

      <audio controls="controls">
        <source src="http://quraan.us:9850/;" type="audio/mpeg">
        <source src="http://quraan.us:9850/;" type="audio/ogg">
          Your browser does not support the audio tag.
          <h6>Tawassoulou Cheikhana Abass Sall (RTA)</h6>
      </audio>
      <div class="video-sec">
        <h4 class="heading-small">Wolofal Cheikhana Abass Sall(RTA)</h4>
        <div class="video-block">
          <div class="embed-responsive embed-responsive-4by3">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/I40EmF51UY4" allowfullscreen></iframe>
          </div>
        </div>
      </div>
      <hr class="d-sm-none">
    </div>
  </div>
</div>
<div class="container" style="margin-top:30px">
  <div class="row">

      <div class="item col-xs-4 col-lg-3" >
        <div class="thumbnail card" style="height: 620px; overflow:scroll;">
          <div class="img-event">
            <img class="group list-group-image img-fluid" src="/assets/lasunna.png" alt="" />
          </div>
          <div class="caption card-body">
            <h4 class="group card-title inner list-group-item-heading">Les Pilliers De L'Islam</h4>
            <p class="group inner list-group-item-text">
              Les Cinq Piliers de l'Islam sont le cadre de la vie musulmane. Ils sont le témoignage de la foi, de la prière,
              de la zakat (soutien des nécessiteux), du jeûne pendant le mois du Ramadan et le pèlerinage à La Mecque aux moins une fois dans la vie pour ceux qui le peuvent.
            </p>
            <ol>
              <li>
                <h5>Le témoignage de foi -</h5>
              <p>Le témoignage de la foi dit avec conviction: «La ilaha illa Allah, Muhammadur rasoolu Allah». Ce dicton signifie
                   «Il n'y a pas de vrai dieu (divinité) que Dieu (Allah) «Il n'y a pas de vrai dieu (divinité)
                  que Dieu (Allah),et Muhammad(SAW) est son Messager (Prophète)."La première partie," Il n'y a pas de
                  vrai dieu mais Dieu ", signifie que personne n'a le droit d'être adoré si ce n'est Dieu seul, et que Dieu n'a ni partenaire ni fils.
                  Ce témoignage de foi s'appelle la Shahada, une formule simple qui doit être dite avec conviction pour se convertir à l'Islam (comme expliqué
                  précédemment sur cette page).
                  Le témoignage de la foi est le pilier le plus important de l'Islam.</p>
</li>

              <li>            <h5>La Prière -</h5>
                <p>Les musulmans accomplissent cinq prières par jour. Chaque prière ne prend pas plus de quelques minutes à effectuer. La prière dans l'Islam est
                  un lien direct entre l'adorateur et Dieu.
                  Il n'y a pas d'intermédiaires entre Dieu et l'adorateur. Dans la prière, une personne ressent le bonheur intérieur, la paix et le réconfort, et Dieu est satisfait de lui. Le Prophète Muhammad a dit: {Bilal, appelle (le peuple) à la prière, soyons réconfortés par cela.} 2 Bilal était l'un des compagnons de Muhammad qui était chargé d'appeler le peuple à la prière.
                  Les prières sont effectuées à l'aube, midi, milieu de l'après-midi, le coucher du soleil et la nuit. Un musulman peut prier presque n'importe où, comme dans les champs, les bureaux, les usines ou les universités. (Pour des informations détaillées sur la manière d'accomplir la prière, veuillez vous référer aux liens sur Comment faire la prière ou se référer au livre intitulé Un guide de la prière (prière) par M. A. K. Saqib.3)
                </p></li>
<li>              <h5>La Zakāt -</h5>
                <p>Toutes choses appartiennent à Dieu, et la richesse est donc détenue par des êtres humains en confiance. La signification originelle du mot zakat est à la fois «purification» et «croissance».
                Donner zakat signifie «donner un pourcentage spécifié sur certaines propriétés à certaines catégories de personnes dans le besoin» Le pourcentage qui est dû sur les fonds d'or, d'argent et d'argent ont atteint la quantité d'environ 85 grammes d'or et détenu en possession d'une année lunaire est de deux et demi pour cent. Nos possessions sont purifiées en mettant de côté une petite portion pour ceux qui en ont besoin, et, comme la taille des plantes, cette réduction équilibre et encourage la nouvelle croissance.
                Une personne peut aussi donner autant qu'elle lui plaît comme aumône volontaire ou la charité.
                </p></li>
<li>              <h5> Le Jeûne -</h5>
                <p>Chaque année, durant le mois de Ramadan 4, tous les musulmans jeûnent de l'aube au coucher du soleil, s'abstenant de nourriture, de boisson et de relations sexuelles.
                Bien que le jeûne soit bénéfique pour la santé, il est considéré principalement comme une méthode d'auto-purification spirituelle. En se coupant du confort du monde, même pour une courte période, une personne à jeun acquiert une véritable sympathie pour ceux qui ont faim, ainsi que la croissance de sa vie spirituelle.
                </p></li>
<li>            <h5>Hajj - Le pèlerinage</h5>
                <p>
                  Le pèlerinage annuel (Hajj) à Makkah est une obligation une fois dans une vie pour ceux qui sont physiquement et financièrement capables de l'exécuter. Environ deux millions de personnes vont à la Mecque
                  chaque année de tous les coins du globe.
                  Bien que la Mecque soit toujours remplie de visiteurs, le Hajj annuel est célébré au douzième mois du calendrier islamique. Les pèlerins masculins portent des vêtements simples et
                  spéciaux qui éliminent les distinctions de classe et de culture pour que tous soient égaux devant Dieu. Les pèlerins prient à la mosquée Haram à la Mecque
                  Les pèlerins prient à la mosquée Haram à La Mecque. Dans cette mosquée est la Kaaba (le bâtiment noir sur la photo) vers lequel les musulmans se tournent en priant. La Kaaba est le lieu de culte que Dieu a ordonné aux Prophètes Abraham et à son fils, Ismaël, de construire.
                  Les rites du Hajj incluent faire sept fois le tour de la Kaaba et passer sept fois entre les collines de Safa et de Marwa, comme Hagar l'a fait pendant sa recherche d'eau. Ensuite, les pèlerins se tiennent ensemble dans Arafa5 et demandent à Dieu ce qu'ils veulent et pour son pardon, dans ce qui est souvent considéré comme un aperçu du Jour du Jugement.
                  </p></li>
            </ol>
<!--               <div class="row">
                <div class="col-xs-12 col-md-6">
                  <p class="lead">$21.000</p>
                </div>
                <div class="col-xs-12 col-md-6">
                  <a class="btn btn-success" href="http://www.jquery2dotnet.com">Add to cart</a>
                </div>
              </div> -->
            </div>
          </div>
        </div>

      <div class="item col-xs-4 col-lg-3" >
        <div class="thumbnail card" style="height: 620px; overflow:scroll;">
          <div class="img-event">
            <img class="group list-group-image img-fluid" src="/assets/AbassSALL.jpg" alt="" />
          </div>
          <div class="caption card-body">
            <h4 class="group card-title inner list-group-item-heading">Le Passage Spirituel & Les accomplissements de Serigne Abass Sall (RTA)</h4>
            <div class="group inner list-group-item-text">
    <p>
      Serigne Abass Sall (RTA) présente aussi la particularité d’avoir quelque peu opté pour le culte de la sanctification par le travail (à l image du mouridisme). En ce sens, il s’était engagé personnellement
      dans l'action pour la conquête de terres exploitables, initié au travail de la terre depuis sa tendre enfance dans les champs-daara de Nguick, Ndia, Rooy Dièye, Massar, Fass -Diaksao, Bandègne, Mbaraglu,Thiambene, Paxa Sow, Njedj, Ndaas. Serigne Abass ouvrit son premier champ de culture à Kayel près de Mbacké Baol (il n’avait que 30ans). Entre 1939 et 1949, il séjourna tour à tour à Kayel, Thiallé, Ndia,
      Diompidialambane, Ndiock Sall, Aïnou Madi (actuel Darou Rahma)… En 1951, il défricha avec peine Bulaïda que Cherif Muhammad Lida rebaptisa Taba. En 1965, Serigne Abass défricha Khahira, un village où il battait
      souvent les records de productions agricoles dans le département de Kaffrine.
      L’œuvre de Serigne Abass Sall gravite autour de deux caractéristiques aussi référentielles l’une que l’autre : Les réalisations pédagogiques ou infrastructurelles et la production poétique. Pour offrir à ses disciples
      un cadre propice pour leur épanouissement spirituel, Serigne Abass Sall ouvrit des Daara, des champs, des villages de cultures, des mosquées (Zawiya), un institut islamique d’envergure. Pour animer son foyer religieux,
      il avait bien planifié ses 7 manifestations islamiques annuelles : La ziaara de Nguick, les gamou de Louga, de Taaba, de Khahira, la Laylatoul Khatmiya à Dakar, la Laylatoul Qadr à Saint-Louis et le Nisfu Chahbane à Louga.
      Dans son célèbre ouvrage “Kifayatu Tullab”, Serigne Abbas déclare au verset 69 : « La pérennité d’Allah, le Roi Omniscient, va de pair avec l’utilité du savoir ». C’est peut-être une des raisons qui explique sa passion pour
      la lecture, la recherche, l’écriture (la prosodie particulièrement). Seydi Mouhamadou Mansour Sall, actuel Khalife de la famille, le qualifie d’encyclopédie islamique. À travers les onze mille vers que constituent ses écrits ingénieusement incrustés dans un art poétique de haute facture, l’ingéniosité et la virtuosité ne gênent en rien l’expression parfaite d’un profond mysticisme. Ses 270 poèmes constituent la meilleure preuve de sa qualité d’homme
      d’action exceptionnelle.
    </p>
    <h4 id="list-item-4">La Legacie De Serigne Abass Sall</h4>
    <p>
      Pour avoir légué à la postérité une grande bibliothèque, un institut islamique moderne, des lieux de culte et des rencontres commémoratives adaptées au soufisme et à la vivification de la foi, Serigne Abbas
      restera un exemple éloquent de modernisation des structures éducatives traditionnelles. Pour avoir incarné incontestablement un effort de la société Wolof d’imposer un renouveau dans le fonctionnement de la Tidjaniyah,
      Serigne Abbas Sall appartenait à la lignée des réformateurs de l’islam en Sénégambie, lignée entamée depuis le XVII Siècle par le mouvement de Nasir ad-din. Son nom est à inscrire en lettres d’or au panthéon intellectuel et spirituel de la planète de l’Islam.
    </p>
  </div>
<!--               <div class="row">
                <div class="col-xs-12 col-md-6">
                  <p class="lead">$21.000</p>
                </div>
                <div class="col-xs-12 col-md-6">
                  <a class="btn btn-success" href="http://www.jquery2dotnet.com">Add to cart</a>
                </div>
              </div> -->
            </div>
          </div>
        </div>

      <div class="item col-xs-4 col-lg-3" >
        <div class="thumbnail card" style="height: 620px; overflow:scroll;">
          <div class="img-event">
            <img class="group list-group-image img-fluid" src="/assets/latidjanya.jpeg" alt=""/>
          </div>
          <div class="caption card-body">
            <h4 class="group card-title inner list-group-item-heading">La Tidjaniya</h4>
            <p class="group inner list-group-item-text">
              La Tidjaniya a été fondée à la fin du xviii e siècle par Ahmed al-Tijani (1737-1815) qui lui a donné son nom. Al-Tijani, dont la famille revendiquait une origine chérifienne (descendant du Prophète), vivait à Aïn Mâdî, à une soixantaine de kilomètres de Laghouat, à l’entrée du Sahara algérien. Quand il atteignit ses 20 ans, il partit poursuivre ses études dans la grande université islamique de Fès, au Maroc, où il eut différentes expériences spirituelles auprès de plusieurs maîtres. À 35 ans, il partit en pèlerinage à La Mecque, en passant par Le Caire, puis revint deux ans plus tard en traversant le Maghreb. Tout le long de ce périple formateur familier aux lettrés de l’époque, il fit de nouvelles rencontres à la recherche du maître spirituel qui pourrait le conduire sur le chemin de la sainteté. De retour à Aïn Mâdî après 10 années de pérégrinations, en l’an 1196 de l’Hégire (1781-1782 de notre ère), Ahmed al-Tijani eut, dans l’oasis proche d’Abû Samghûn, une expérience mystique qui allait décider de son destin. Il rencontra le Prophète de façon miraculeuse, en état de veille et non, comme le plus souvent dans la tradition musulmane, en rêve. Muhammad (Mahomet) lui ordonna d’abandonner toutes ses affiliations précédentes et lui promit d’être son intercesseur privilégié, et celui de ses fidèles, auprès de Dieu. Ainsi était née une nouvelle voie, ordonnée par le Prophète en personne, et se caractérisant par un certain nombre de traits spécifiques, sinon exceptionnels.</p>
<!--               <div class="row">
                <div class="col-xs-12 col-md-6">
                  <p class="lead">$21.000</p>
                </div>
                <div class="col-xs-12 col-md-6">
                  <a class="btn btn-success" href="http://www.jquery2dotnet.com">Add to cart</a>
                </div>
              </div> -->
            </div>
          </div>
        </div>

<!-- <aside class="col-lg-3 side-bar col-md-12">
  <ul class="nav nav-tabs" role="tablist" id="myTab">
    <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#home" role="tab">Les derniers</a></li>
    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#profile" role="tab">Haut</a></li>
    <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#messages" role="tab">En Vedette</a> </li>
  </ul> 
  Tab panes
  <div class="tab-content sidebar-tabing" id="nav-tabContent">
    <div class="tab-pane active" id="home" role="tabpanel">
      <div class="media"> <a href="#">
        <img class="d-flex mr-3" src="http://grafreez.com/wp-content/temp_demos/river/img/sport2.jpg" alt="Generic placeholder image"></a>
        <div class="media-body">
          <div class="news-title">
            <h2 class="title-small"><a href="#">Key Republicans sign letter warning against candidate</a></h2>
          </div>
          <div class="news-auther"><span class="time">1h ago</span></div>
        </div>
      </div>
      <div class="media"> <a href="#"><img class="d-flex mr-3" src="http://grafreez.com/wp-content/temp_demos/river/img/lifestyle.jpg" alt="Generic placeholder image"></a>
        <div class="media-body">
          <div class="news-title">
            <h2 class="title-small"><a href="#">Obamacare Appears to Be Making People Healthier</a></h2>
          </div>
          <div class="news-auther"><span class="time">1h ago</span></div>
        </div>
      </div>
      <div class="media"> <a href="#"><img class="d-flex mr-3" src="http://grafreez.com/wp-content/temp_demos/river/img/food1.jpg" alt="Generic placeholder image"></a>
        <div class="media-body">
          <div class="news-title">
            <h2 class="title-small"><a href="#">Key Republicans sign letter warning against candidate</a></h2>
          </div>
          <div class="news-auther"><span class="time">1h ago</span></div>
        </div>
      </div>
    </div>
    <div class="tab-pane" id="profile" role="tabpanel">
      <div class="media"> <a href="#"><img class="d-flex mr-3" src="http://grafreez.com/wp-content/temp_demos/river/img/movie.jpg" alt="Generic placeholder image"></a>
        <div class="media-body">
          <div class="news-title">
            <h2 class="title-small"><a href="#">Key Republicans sign letter warning against candidate</a></h2>
          </div>
          <div class="news-auther"><span class="time">1h ago</span></div>
        </div>
      </div>
      <div class="media"> <a href="#"><img class="d-flex mr-3" src="http://grafreez.com/wp-content/temp_demos/river/img/auto.jpg" alt="Generic placeholder image"></a>
        <div class="media-body">
          <div class="news-title">
            <h2 class="title-small"><a href="#">‘S.N.L.’ to Lose Two Longtime Cast Members</a></h2>
          </div>
          <div class="news-auther"><span class="time">1h ago</span></div>
        </div>
      </div>
      <div class="media"> <a href="#"><img class="d-flex mr-3" src="http://grafreez.com/wp-content/temp_demos/river/img/business1.jpg" alt="Generic placeholder image"></a>
        <div class="media-body">
          <div class="news-title">
            <h2 class="title-small"><a href="#">Obamacare Appears to Be Making People Healthier</a></h2>
          </div>
          <div class="news-auther"><span class="time">1h ago</span></div>
        </div>
      </div>
    </div>
    <div class="tab-pane" id="messages" role="tabpanel">
      <div class="media"> <a href="#"><img class="d-flex mr-3" src="http://grafreez.com/wp-content/temp_demos/river/img/food.jpg" alt="Generic placeholder image"></a>
        <div class="media-body">
          <div class="news-title">
            <h2 class="title-small"><a href="#">Key Republicans sign letter warning against candidate</a></h2>
          </div>
          <div class="news-auther"><span class="time">1h ago</span></div>
        </div>
      </div>
      <div class="media"> <a href="#"> <img class="d-flex mr-3" src="http://grafreez.com/wp-content/temp_demos/river/img/business.jpg" alt="Generic placeholder image"></a>
        <div class="media-body">
          <div class="news-title">
            <h2 class="title-small"><a href="#">‘S.N.L.’ to Lose Two Longtime Cast Members</a></h2>
          </div>
          <div class="news-auther"><span class="time">1h ago</span></div>
        </div>
      </div>
      <div class="media"> <a href="#"> <img class="d-flex mr-3" src="http://grafreez.com/wp-content/temp_demos/river/img/sport1.jpg" alt="Generic placeholder image"></a>
        <div class="media-body">
          <div class="news-title">
            <h2 class="title-small"><a href="#">Key Republicans sign letter warning against candidate</a></h2>
          </div>
          <div class="news-auther"><span class="time">1h ago</span></div>
        </div>
      </div>
    </div>
  </div>
</aside> -->
    
<!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
 -->


  </div>
</div>

<h1 class="headline">Vidéo A La Une</h1>
<div class="container">
  <div>
    <h2><span class="big"> Laylatoul Khatmiya - 2018</span></h2>
  </div>
  <div class="offset-lg-top-30 offset-xxl-top-66 text-lg-left">
    <div class="row justify-content-lg-center justify-content-xxl-between grid-group-md">

      <div class="col-lg-6">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/JrRyBvNlow8" allowfullscreen="">
          </iframe>
        </div>
      </div>
      <div class="col-lg-6 col-xl-5">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/C7gmgr1BMrI" allowfullscreen="">
          </iframe>
        </div>
        <p class="offset-top-20">Wakhatanou Cheikhana Abass Sall(RTA)</p>
        <div class="offset-top-41">Pour plus de vidéos consulter et abonner vous à notre chaîne YouTube</div>
        <a class="btn btn-danger btn-md btn-anis-effect" style="display: inline-grid;" href="https://www.youtube.com/channel/UCt4c4AXkQ32_M6aObt2-kQA?view_as=subscriber"><span class="btn-text">Ummah Abassiya - Wakeur Cheikhana Abass Sall</span><i class="fab fa-youtube fa-5x"></i></a>
      </div>
      
    </div>
  </div>
</div>
<br>
<h1 class="headline">Gallerie Vidéos</h1>


<ul class="list-unstyled video-list-thumbs row">

  <li class="col-lg-3 col-md-6 col-sm-6 col-xs-6">
<iframe src="https://www.youtube.com/embed/MoRKF9vkZDY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="img-responsive" height="230px"></iframe>
  </li>

  <li class="col-lg-3 col-md-6 col-sm-6 col-xs-6">
<iframe src="https://www.youtube.com/embed/_7EONcSMO3U" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="img-responsive" height="230px"></iframe>
  </li>

  <li class="col-lg-3 col-md-6 col-sm-6 col-xs-6">
<iframe src="https://www.youtube.com/embed/I40EmF51UY4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="img-responsive" height="230px"></iframe>
  </li>

  <li class="col-lg-3 col-md-6 col-sm-6 col-xs-6">
<iframe src="https://www.youtube.com/embed/4ai57GBAlBM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="img-responsive" height="230px"></iframe>
  </li>

  <li class="col-lg-3 col-md-6 col-sm-6 col-xs-6">
  <iframe src="https://www.youtube.com/embed/cqykip9kPO4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="img-responsive" height="230px"></iframe>
  </li>  
<!-- 
  <li class="col-lg-3 col-md-6 col-sm-6 col-xs-6">
  <iframe src="https://www.youtube.com/embed/I40EmF51UY4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="img-responsive" height="230px"></iframe>
  </li>  

  <li class="col-lg-3 col-md-6 col-sm-6 col-xs-6">
  <iframe src="https://www.youtube.com/embed/I40EmF51UY4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="img-responsive" height="230px"></iframe>
  </li>

  <li class="col-lg-3 col-md-6 col-sm-6 col-xs-6">
  <iframe src="https://www.youtube.com/embed/I40EmF51UY4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="img-responsive" height="230px"></iframe>
  </li> -->
</ul>

<h1 class="headline">Gallerie Photos</h1>
En Construction...

<script>
  var interval;
function startTicker(){
  $("#ticker article:first").slideUp(function(){
    $(this).appendTo($("#ticker")).slideDown("fast");
  });
}

function stopTicker(){
  clearInterval(interval);
}

interval = setInterval(startTicker, 100000);

$("#ticker").hover(function(){
  stopTicker();
}, function(){
  interval = setInterval(startTicker, 100000);
});
</script>

<script>

var TxtType = function(el, toRotate, period) {
        this.toRotate = toRotate;
        this.el = el;
        this.loopNum = 0;
        this.period = parseInt(period, 10) || 2000;
        this.txt = '';
        this.tick();
        this.isDeleting = false;
    };

    TxtType.prototype.tick = function() {
        var i = this.loopNum % this.toRotate.length;
        var fullTxt = this.toRotate[i];

        if (this.isDeleting) {
        this.txt = fullTxt.substring(0, this.txt.length - 1);
        } else {
        this.txt = fullTxt.substring(0, this.txt.length + 1);
        }

        this.el.innerHTML = '<span class="wrap">'+this.txt+'</span>';

        var that = this;
        var delta = 200 - Math.random() * 100;

        if (this.isDeleting) { delta /= 2; }

        if (!this.isDeleting && this.txt === fullTxt) {
        delta = this.period;
        this.isDeleting = true;
        } else if (this.isDeleting && this.txt === '') {
        this.isDeleting = false;
        this.loopNum++;
        delta = 500;
        }

        setTimeout(function() {
        that.tick();
        }, delta);
    };

    window.onload = function() {
        var elements = document.getElementsByClassName('typewrite');
        for (var i=0; i<elements.length; i++) {
            var toRotate = elements[i].getAttribute('data-type');
            var period = elements[i].getAttribute('data-period');
            if (toRotate) {
              new TxtType(elements[i], JSON.parse(toRotate), period);
            }
        }
        // INJECT CSS
        var css = document.createElement("style");
        css.type = "text/css";
        css.innerHTML = ".typewrite > .wrap { border-right: 0.08em solid #fff}";
        document.body.appendChild(css);
    };

        $(function() {
      $('img').bind('contextmenu', function() {
        return false;
      })
    })


</script>


<script async src="https://www.googletagmanager.com/gtag/js?id=UA-108408698-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-108408698-1');
</script>
<% if Rails.env.production? %>
<script type="text/javascript">
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-110861700-1', 'auto');
</script>
<% end %>

<%= audio_tag "Wolofalpoursite.mp3", id: "sound", class: "audio-to-play", autoplay: true %>

<!--   <%= audio_tag "http://quraan.us:9850/;", id: "sound", class: "audio-to-play", autoplay: true %>


  <!-- <%= audio_tag "Tawassoul.mp3", id: "sound", class: "audio-to-play", autoplay: true %> -->
