<h3 class="text-center">
  <a href="" class="typewrite" data-period="2000" data-type='[ "Yewoulen Te Yete, Nalaw Yi Yaguana."]'>
    <span class="wrap"></span>
  </a>
</h3>

<script>

var TxtType = function(el, toRotate, period) {
        this.toRotate = toRotate;
        this.el = el;
        this.loopNum = 0;
        this.period = parseInt(period, 10) || 2000;
        this.txt = '';
        this.tick();
        this.isDeleting = false;
    };

    TxtType.prototype.tick = function() {
        var i = this.loopNum % this.toRotate.length;
        var fullTxt = this.toRotate[i];

        if (this.isDeleting) {
        this.txt = fullTxt.substring(0, this.txt.length - 1);
        } else {
        this.txt = fullTxt.substring(0, this.txt.length + 1);
        }

        this.el.innerHTML = '<span class="wrap">'+this.txt+'</span>';

        var that = this;
        var delta = 200 - Math.random() * 100;

        if (this.isDeleting) { delta /= 2; }

        if (!this.isDeleting && this.txt === fullTxt) {
        delta = this.period;
        this.isDeleting = true;
        } else if (this.isDeleting && this.txt === '') {
        this.isDeleting = false;
        this.loopNum++;
        delta = 500;
        }

        setTimeout(function() {
        that.tick();
        }, delta);
    };

    window.onload = function() {
        var elements = document.getElementsByClassName('typewrite');
        for (var i=0; i<elements.length; i++) {
            var toRotate = elements[i].getAttribute('data-type');
            var period = elements[i].getAttribute('data-period');
            if (toRotate) {
              new TxtType(elements[i], JSON.parse(toRotate), period);
            }
        }
        // INJECT CSS
        var css = document.createElement("style");
        css.type = "text/css";
        css.innerHTML = ".typewrite > .wrap { border-right: 0.08em solid #fff}";
        document.body.appendChild(css);
    };


</script>


<script async src="https://www.googletagmanager.com/gtag/js?id=UA-108408698-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-108408698-1');
</script>
<% if Rails.env.production? %>
<script type="text/javascript">
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-110861700-1', 'auto');
</script>
<% end %>

<!-- electronic patient diaries that will alert the nurse coordinator if it is not fill out.
Patient portal that stores research patient research data for them to view
Clinical Trial Web Page Design
 -->
<div id="carouselExampleIndicators" class="carousel slide slideshow" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="7"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="8"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="9"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="10"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="11"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="/assets/abass&mountaga.jpg" alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="/assets/abdou&abass.jpeg" alt="Second slide">
    </div>   
    <div class="carousel-item">
      <img class="d-block w-100" src="/assets/abass.jpg" alt="Third slide">
    </div>   
    <div class="carousel-item">
      <img class="d-block w-100" src="/assets/serignemansour.jpg" alt="Fourth slide">
    </div>   
    <div class="carousel-item">
      <img class="d-block w-100" src="/assets/abasssolo.jpg" alt="Fifth slide">
    </div>   
    <div class="carousel-item">
      <img class="d-block w-100" src="/assets/abassengroupe.jpg" alt="Sixth slide">
    </div>   
    <div class="carousel-item">
      <img class="d-block w-100" src="/assets/serignemansoursall.jpg" alt="Seventh slide">
    </div>   
    <div class="carousel-item">
      <img class="d-block w-100" src="/assets/Serigne_abass.jpg" alt="Eight slide">
    </div>   
    <div class="carousel-item">
      <img class="d-block w-100" src="/assets/serigne_abass_sall" alt="Nineth slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="/assets/tontonahmed.jpg" alt="Tenth slide">
    </div>    
    <div class="carousel-item">
      <img class="d-block w-100" src="/assets/cheikhgaye.jpg" alt="Eleventh slide">
    </div>    
    <div class="carousel-item">
      <img class="d-block w-100" src="/assets/laminewade.jpg" alt="Twelveth slide">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<audio controls="controls">
  <source src="/assets/Tawassoul.mp3" type="audio/mpeg">
  <source src="/assets/Tawassoul.ogg" type="audio/ogg">
  Your browser does not support the audio tag.
    <h6>Tawassoulou Cheikhana Abass Sall (RTA)</h6>
</audio>

<br>

<div class="container">
  <ul id="tabs" class="nav nav-tabs" role="tablist">
    <li class="nav-item">
      <a id="tab-A" href="#pane-A" class="nav-link active" data-toggle="tab" role="tab">Qu'est-ce que l'islam</a>
    </li>
    <li class="nav-item">
      <a id="tab-B" href="#pane-B" class="nav-link" data-toggle="tab" role="tab">La Tidjaniyya</a>
    </li>
    <li class="nav-item">
      <a id="tab-C" href="#pane-C" class="nav-link" data-toggle="tab" role="tab"> Qui est Cheikhana Abass Sall (RTA)</a>
    </li>    
<!--     <li class="nav-item">
      <a id="tab-D" href="#pane-C" class="nav-link" data-toggle="tab" role="tab"></a>
    </li>      
    <li class="nav-item">
      <a id="tab-E" href="#pane-C" class="nav-link" data-toggle="tab" role="tab"></a>
    </li>    
    <li class="nav-item">
      <a id="tab-F" href="#pane-C" class="nav-link" data-toggle="tab" role="tab">Calendrier</a>
    </li>
     <li class="nav-item">
      <a id="tab-G" href="#pane-C" class="nav-link" data-toggle="tab" role="tab">News - Infos</a>
    </li>  --> 
  </ul>

  <div id="content" class="tab-content" role="tablist">
    <div id="pane-A" class="card tab-pane fade show active" role="tabpanel" aria-labelledby="tab-A">
<!--       <div class="card-header" role="tab" id="heading-A">
        <h5 class="mb-0">
          <a data-toggle="collapse" href="#collapse-A" data-parent="#content" aria-expanded="true" aria-controls="collapse-A">
            Collapsible Group Item A
          </a>
        </h5>
      </div> -->
      <div id="collapse-A" class="collapse show" role="tabpanel" aria-labelledby="heading-A">
        <div class="card-body infos">
          <h4>Islam -</h4>
          <p>
            Le mot "Islam" est un mot arabe qui signifie "soumission à la volonté de Dieu". Ce mot vient de la même racine que le mot arabe "salam", qui signifie "paix". En tant que tel, la religion de l'Islam enseigne que, pour atteindre la vraie paix de l'esprit et la certitude du cœur, il faut se soumettre à Dieu et vivre selon Sa Loi divinement révélée. La vérité la plus importante que Dieu a révélée à l'humanité est qu'il n'y a rien de divin ou de digne d'être adoré sauf pour le Dieu Tout-Puissant, ainsi tous les êtres humains devraient se soumettre à Lui.
          </p>

          <h4>Musulman -</h4>
          <p>
            Le mot "musulman" signifie celui qui se soumet à la volonté de Dieu, indépendamment de leur race, leur nationalité ou leur origine ethnique. Être musulman implique une soumission volontaire et une obéissance active à Dieu, et une vie conforme à son message. Certaines personnes croient à tort que l'islam n'est qu'une religion pour les Arabes, mais rien ne pourrait être plus éloigné de la vérité. Non seulement on se convertit à l'islam aux quatre coins du monde, surtout en Angleterre et en Amérique, mais en regardant le monde musulman de la Bosnie au Nigeria et de l'Indonésie au Maroc, on peut voir clairement que les musulmans viennent de différents pays. races, groupes ethniques et nationalités. Il est également intéressant de noter qu'en réalité, plus de 80% de tous les musulmans ne sont pas arabes - il y a plus de musulmans en Indonésie que dans tout le monde arabe! Donc, même s'il est vrai que la plupart des Arabes sont musulmans, la grande majorité des musulmans ne sont pas arabes. Cependant, quiconque se soumet complètement à Dieu et le vénère seul est un musulman.
        </div>
      </div>
    </div>

    <div id="pane-B" class="card tab-pane fade" role="tabpanel" aria-labelledby="tab-B">
 <!--      <div class="card-header" role="tab" id="heading-B">
        <h5 class="mb-0">
          <a class="collapsed" data-toggle="collapse" href="#collapse-B" data-parent="#content" aria-expanded="false" aria-controls="collapse-B">
            Collapsible Group Item B
          </a>
        </h5>
      </div> -->
      <div id="collapse-B" class="collapse show" role="tabpanel" aria-labelledby="heading-B">
        <div class="card-body infos">
          [A Venir...]
        </div>
      </div>
    </div>

    <div id="pane-C" class="card tab-pane fade" role="tabpanel" aria-labelledby="tab-C">
  <!--     <div class="card-header" role="tab" id="heading-C">
        <h5 class="mb-0">
          <a class="collapsed" data-toggle="collapse" href="#collapse-C" data-parent="#content" aria-expanded="false" aria-controls="collapse-C">
            Collapsible Group Item C
          </a>
        </h5>
      </div> -->
      <div id="collapse-C" class="collapse show" role="tabpanel" aria-labelledby="heading-C">
        <div class="card-body infos">
        <h4 id="list-item-2">Vie & Oeuvres</h4>
        <p>
          De son vrai nom Abdallah Ibn Abbas (RTA), il est né un samedi du mois de
          rajab 1327 de l’hégire (en juin 1909) à Nguick, village du Njambur situé à 4km à l’ouest de Sakal. Par sa lignée paternelle,
          Serigne Abass Sall est un descendant des Sall de Guédé qui du Fouta Toro avaient transité par Wowlu pour s’installer à Ndia Goureye.
          Son père Mame Mayoro Sall était fils de Fama Aïcha Niang et de Goumba Farma Sall. Ces Salsalbé se disent descendants d'arabe :
          le Quraich Uqba ibn Nafi serait leur ancêtre commun (voir la généalogie). Le septième enfant de Mame Mayoro Sall était baptisé
          Abdallah ibn Abbas en souvenir du célèbre compagnon de l’Islam surnommé Al Hibr (le docteur) ou Al Bahr (la mer) qui, ayant vécu
          de 618 à 688, fut l’un des plus grands savants de la première génération des musulmans.Admiratrice enthousiaste du prophète Muhammad (psl)
          , sa mère Fatoumata Wade l’appelait chaleureusement Muhammad Abass. Mame Mariéme Ndiaye, mère de Sokhna Fatou   Wade, est issue d’un métissage
          sérère-walo-walo. La branche paternelle de Sokhna Fatou Wade était d’ascendance halpulaar. El Hadji Ahmadou Wade fut l’un des premiers érudits
          du Njambur et de Saint-Louis à avoir effectué le pèlerinage à La Mecque (avant 1889). La grande notoriété du maître de l’école de Nguick explique,
          selon les témoignages, les visites d’El Hadji Malick Sy, à qui il confiera plus tard tous ses disciples.</p>
        <h4 id="list-item-2">Le Passage Spirituel de Serigne Abass Sall (RTA)</h4>
        <p>
          Éminent intellectuel, Serigne Abass Sall (RTA) se déplaçait souvent avec sa lourde collection d’ouvrages et de manuels islamiques. Son enseignement se résume en 7 principes de base:
        <ol>
        <li>
          Œuvrer avec ses disciples sur le droit chemin tracé par Dieu et indiquer par le prophète (psl).
        </li>
        <li>
          Éviter tous les interdits et se vouer à toutes les recommandations.</li>
        <li>
          Se procurer soi-même de quoi vivre par une voie légale.
        </li>
        <li>
          Avoir le maximum de considération, de fidélité, et d’amour envers ses parents.
        </li>
        <li>
          S’investir au mieux pour acquérir des connaissances islamiques nécessaires à l’adoration divine.
        </li>
        <li>
          Considérer la tidjaniya comme la voie la plus perfectionnée à suivre par le musulman pour plaire à Dieu.
        </li>
        <li>
          Savoir faire la distinction entre la suprématie divine, les mérites inégalables du prophète Muhammad (psl) et la bénédiction insondable de Cheikh Ahmad At-Tidjani (le sceau des saints).
        </li>
      </ol>
    </p>
    <h4 id="list-item-3">Les Accomplissements De Serigne Abass Sall (RTA)</h4>
    <p>
      Serigne Abass Sall (RTA) présente aussi la particularité d’avoir quelque peu opté pour le culte de la sanctification par le travail (à l image du mouridisme). En ce sens, il s’était engagé personnellement
      dans l'action pour la conquête de terres exploitables, initié au travail de la terre depuis sa tendre enfance dans les champs-daara de Nguick, Ndia, Rooy Dièye, Massar, Fass -Diaksao, Bandègne, Mbaraglu,Thiambene, Paxa Sow, Njedj, Ndaas. Serigne Abass ouvrit son premier champ de culture à Kayel près de Mbacké Baol (il n’avait que 30ans). Entre 1939 et 1949, il séjourna tour à tour à Kayel, Thiallé, Ndia,
      Diompidialambane, Ndiock Sall, Aïnou Madi (actuel Darou Rahma)… En 1951, il défricha avec peine Bulaïda que Cherif Muhammad Lida rebaptisa Taba. En 1965, Serigne Abass défricha Khahira, un village où il battait
      souvent les records de productions agricoles dans le département de Kaffrine.
      L’œuvre de Serigne Abass Sall gravite autour de deux caractéristiques aussi référentielles l’une que l’autre : Les réalisations pédagogiques ou infrastructurelles et la production poétique. Pour offrir à ses disciples
      un cadre propice pour leur épanouissement spirituel, Serigne Abass Sall ouvrit des Daara, des champs, des villages de cultures, des mosquées (Zawiya), un institut islamique d’envergure. Pour animer son foyer religieux,
      il avait bien planifié ses 7 manifestations islamiques annuelles : La ziaara de Nguick, les gamou de Louga, de Taaba, de Khahira, la Laylatoul Khatmiya à Dakar, la Laylatoul Qadr à Saint-Louis et le Nisfu Chahbane à Louga.
      Dans son célèbre ouvrage “Kifayatu Tullab”, Serigne Abbas déclare au verset 69 : « La pérennité d’Allah, le Roi Omniscient, va de pair avec l’utilité du savoir ». C’est peut-être une des raisons qui explique sa passion pour
      la lecture, la recherche, l’écriture (la prosodie particulièrement). Seydi Mouhamadou Mansour Sall, actuel Khalife de la famille, le qualifie d’encyclopédie islamique. À travers les onze mille vers que constituent ses écrits ingénieusement incrustés dans un art poétique de haute facture, l’ingéniosité et la virtuosité ne gênent en rien l’expression parfaite d’un profond mysticisme. Ses 270 poèmes constituent la meilleure preuve de sa qualité d’homme
      d’action exceptionnelle.
    </p>
    <h4 id="list-item-4">La Legacie De Serigne Abass Sall</h4>
    <p>
      Pour avoir légué à la postérité une grande bibliothèque, un institut islamique moderne, des lieux de culte et des rencontres commémoratives adaptées au soufisme et à la vivification de la foi, Serigne Abbas
      restera un exemple éloquent de modernisation des structures éducatives traditionnelles. Pour avoir incarné incontestablement un effort de la société Wolof d’imposer un renouveau dans le fonctionnement de la Tidjaniyah,
      Serigne Abbas Sall appartenait à la lignée des réformateurs de l’islam en Sénégambie, lignée entamée depuis le XVII Siècle par le mouvement de Nasir ad-din. Son nom est à inscrire en lettres d’or au panthéon intellectuel et spirituel de la planète de l’Islam.
    </p>
  </div>
</div>
</div>    

<!--     <div id="pane-C" class="card tab-pane fade" role="tabpanel" aria-labelledby="tab-C">
      <div class="card-header" role="tab" id="heading-C">
        <h5 class="mb-0">
          <a class="collapsed" data-toggle="collapse" href="#collapse-C" data-parent="#content" aria-expanded="false" aria-controls="collapse-C">
            Collapsible Group Item D
          </a>
        </h5>
      </div>
      <div id="collapse-C" class="collapse" role="tabpanel" aria-labelledby="heading-C">
        <div class="card-body">
          [Tab content D]
        </div>
      </div>
    </div>    
 -->
<!--     <div id="pane-C" class="card tab-pane fade" role="tabpanel" aria-labelledby="tab-C">
      <div class="card-header" role="tab" id="heading-C">
        <h5 class="mb-0">
          <a class="collapsed" data-toggle="collapse" href="#collapse-C" data-parent="#content" aria-expanded="false" aria-controls="collapse-C">
            Collapsible Group Item E
          </a>
        </h5>
      </div>
      <div id="collapse-C" class="collapse" role="tabpanel" aria-labelledby="heading-C">
        <div class="card-body">
          [Tab content E]
        </div>
      </div>
    </div> -->
  </div>
<br>




<!-- 
<div class="container">
  <div class="row">

    <div class="col-md-3">
      <h2>
        Heading
      </h2>
      <p>
        Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      </p>
      <p>
        <a class="btn" href="#">View details »</a>
      </p>
    </div>


    <div class="col-md-3">
      <h2>
        Heading
      </h2>
      <p>
        Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      </p>
      <p>
        <a class="btn" href="#">View details »</a>
      </p>
    </div>


    <div class="col-md-3">
      <h2>
        Heading
      </h2>
      <p>
        Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      </p>
      <p>
        <a class="btn" href="#">View details »</a>
      </p>
    </div>


    <div class="col-md-3">
      <h2>
        Heading
      </h2>
      <p>
        Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      </p>
      <p>
        <a class="btn" href="#">View details »</a>
      </p>
    </div>
  </div>
 -->
<br>

<div class="row">
  <div class="col-sm-12 col-md-6 col-lg-6">
    <h4>Ziarra Nguick Interview De Mansour Gaye Par La Chabiba TV</h4>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/Cvx40Qsjmx0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-6">
    <h4>Ziarra Nguick 2018 Hadaratoul Jummah Par La Chabiba TV</h4>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/R6QdF1liKI0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  </div>
</div>
  
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-6">
      <h4>Causerie Dr. Serigne Mansour Sall Par La Chabiba TV</h4>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/Jsw3mcbevTw" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>    
    <div class="col-sm-12 col-md-6 col-lg-6">
      <h4>Sokhna Ndeye Fatou Sall & Serigne Lamine Sall Interviewé Par La Chabiba TV</h4>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/rdkeeUsCE-c" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>    
    </div>
  </div>
<br>

<hr>

<h4>Ziarra Nguick 2018  (RTA)Edition - Du Jeudi 04 Au Dimanche 07 Octobre</h4>
  <div class="col-md-12 col-md-6 col-lg-12">
    <img class="card-img" src="/assets/programeziarranguickcopy.jpg" alt="Card image">
  </div>
<!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
 -->
<div class="container">
<hr>
<div class="row">
  <div class="col-sm-12 col-md-6 col-lg-6">
    <div id="featured" class="carousel slide carousel-fade" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">        
          <div class="card bg-dark text-white">
            <img class="card-img" src="/assets/sabass.jpg" alt="Card image">
            <div class="card-img-overlay d-flex linkfeat">
              <a class="align-self-end">
                <span class="badge">Photos Ziarra Nguick</span> 
<!--                 <h4 class="card-title">Review GSP: Amerika Ingin Perdagangan Saling Menguntungkan</h4>
                <p class="textfeat" style="display: none;">makro.id – Duta Besar Amerika Serikat untuk Indonesia Joseph R. Donovan menegaskan, langkah pemerintah Amerika Serikat meninjau ulang pemberian Generalized System od Preferenes (GSP) akan menguntungkan kedua belah pihak. Menurut Donovan,</p>
 -->              </a>
            </div>
          </div>
        </div>
        <div class="carousel-item">       
          <div class="card bg-dark text-white">
           <img class="card-img" src="/assets/nguick.JPG" alt="Card image">
            <div class="card-img-overlay d-flex linkfeat">
              <a class="align-self-end">
                <span class="badge">Photo Nguick</span> 
<!--                 <h4 class="card-title">DPR Setujui Penambahan Anggaran BP Batam Rp565 Miliar</h4>
                <p class="textfeat" style="display: none;">makro.id - Dewan Perwakilan Rakyat (DPR) menyetujui penambahan anggaran Badan Pengusahaan (BP) Batam Rp565 miliar. Dengan penambahan anggaran di tahun 2019 tersebut diharapkan dapat mendorong percepatan pembangunan Kota Batam. Anggota Komisi</p>
 -->              </a>
            </div>
          </div>
        </div>        
        <div class="carousel-item">       
          <div class="card bg-dark text-white">
           <img class="card-img" src="/assets/ziarramansourwakhtan.jpg" alt="Card image">
            <div class="card-img-overlay d-flex linkfeat">
              <a class="align-self-end">
                <span class="badge">Photos Ziarra Nguick 2017</span> 
<!--                 <h4 class="card-title">DPR Setujui Penambahan Anggaran BP Batam Rp565 Miliar</h4>
                <p class="textfeat" style="display: none;">makro.id - Dewan Perwakilan Rakyat (DPR) menyetujui penambahan anggaran Badan Pengusahaan (BP) Batam Rp565 miliar. Dengan penambahan anggaran di tahun 2019 tersebut diharapkan dapat mendorong percepatan pembangunan Kota Batam. Anggota Komisi</p>
 -->              </a>
            </div>
          </div>
        </div>
        <div class="carousel-item">       
          <div class="card bg-dark text-white">
            <img class="card-img" src="/assets/ziarranguickjotay.jpg" alt="Card image">
            <div class="card-img-overlay d-flex linkfeat">
              <a class="align-self-end">
              <span class="badge">Photos Ziarra Nguick 2017</span> 
<!--                 <h4 class="card-title">BTN Targetkan Seribu Nasabah Valas di Batam</h4>
                <p class="textfeat" style="display: none;">makro.id - Bank Tabungan Negara (Persero) resmi merilis tabungan valuta asing (valas) di Batam. Sebagai daerah yang berbatasan langsung dengan Singapura dan sebagai pintu gerbang wisatawan mancanegara (wisman), transaksi valas</p>
 -->              </a>
            </div>
          </div>
        </div>
        <div class="carousel-item">       
          <div class="card bg-dark text-white">
            <img class="card-img" src="/assets/ziarranguickjourouarmelya.jpg" alt="Card image">
            <div class="card-img-overlay d-flex linkfeat">
              <a class="align-self-end">
              <span class="badge">Photos Ziarra Nguick 2017</span> 
<!--                 <h4 class="card-title">Sistem OSS Resmi Diluncurkan</h4>
                <p class="textfeat" style="display: none;">makro.id - Menteri Koordinator Bidang Perekonomian Darmin Nasution bersama dengan para menteri dan kepala lembaga terkait meresmikan penerapan Sistem Online Single Submission (OSS). Layanan Perizinan Berusaha Terintegrasi Secara Elektronik (PBTSE), yang
 -->                </p>
              </a>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="card bg-dark text-white">
            <img class="card-img" src="/assets/nguickjourarmelya.jpg" alt="Card image">
            <div class="card-img-overlay d-flex linkfeat">
              <a class="align-self-end">
                <span class="badge">Photos Ziarra Nguick 2017</span> 
<!--                 <h4 class="card-title">Grab Gandeng Samsung, Telkomsel, dan Erafone</h4>
                <p class="textfeat" style="display: none;">:: Luncurkan Program Ponsel Cerdas untuk Pengemudi Batam - Grab menjalin kemitraan strategis dengan tiga perusahaan terkemuka di Indonesia yaitu Telkomsel, Samsung, dan Erafone terkait program kepemilikan ponsel cerdas khusus untuk
 -->                </p>
              </a>
            </div>
          </div>
        </div>
        <div class="carousel-item">       
          <div class="card bg-dark text-white">
            <img class="card-img" src="/assets/armelnguick.JPG" alt="Card image">
            <div class="card-img-overlay d-flex linkfeat">
              <a  class="align-self-end">
                <span class="badge">Photos Ziarra Nguick 2017</span> 
<!--                 <h4 class="card-title">Paket Kebijakan Ekonomi Mempermudah Izin Investasi</h4>
                <p class="textfeat" style="display: none;">makro.id– Paket kebijakan ekonomi dinilai dapat memberikan kemudahan dalam pengurusan perizinan berinvestasi dan memberikan efek yang cukup signifikan kepada investor. Ketua Umum Himpunan Kawasan Industri (HKI) Sanny Iskandar menyatakan saat ini</p>
 -->              </a>
            </div>
          </div>
        </div>
      </div>
    </div>




  </div>  <div class="col-sm-12 col-md-6 col-lg-6">
    <div id="featured" class="carousel slide carousel-fade" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">        
          <div class="card bg-dark text-white">
            <img class="card-img" src="/assets/hadranguick2018.jpeg" alt="Card image">
            <div class="card-img-overlay d-flex linkfeat">
              <a class="align-self-end">
                <span class="badge">Photos Ziarra Nguick 2018 - Hadra du Vendredi 05 Octobre 2018</span> 
<!--                 <h4 class="card-title">Review GSP: Amerika Ingin Perdagangan Saling Menguntungkan</h4>
 --><!--                 <p class="textfeat" style="display: none;">
                  makro.id – Duta Besar Amerika Serikat untuk Indonesia Joseph R. Donovan menegaskan, langkah pemerintah Amerika Serikat meninjau ulang pemberian Generalized System od Preferenes (GSP) akan menguntungkan kedua belah pihak. Menurut Donovan,
 -->                </p>
              </a>
            </div>
          </div>
        </div>
        <div class="carousel-item">       
          <div class="card bg-dark text-white">
           <img class="card-img" src="/assets/hadranguick20182.jpeg" alt="Card image">
            <div class="card-img-overlay d-flex linkfeat">
              <a class="align-self-end">
                <span class="badge">Photos Ziarra Nguick 2018 - Hadra du Vendredi 04 Octobre 2018</span> 
<!--                 <h4 class="card-title">DPR Setujui Penambahan Anggaran BP Batam Rp565 Miliar</h4>
                <p class="textfeat" style="display: none;">makro.id - Dewan Perwakilan Rakyat (DPR) menyetujui penambahan anggaran Badan Pengusahaan (BP) Batam Rp565 miliar. Dengan penambahan anggaran di tahun 2019 tersebut diharapkan dapat mendorong percepatan pembangunan Kota Batam. Anggota Komisi</p>
 -->              </a>
            </div>
          </div>
        </div>        
        <div class="carousel-item">       
          <div class="card bg-dark text-white">
           <img class="card-img" src="/assets/soldatyi.jpeg" alt="Card image">
            <div class="card-img-overlay d-flex linkfeat">
              <a class="align-self-end">
                <span class="badge">Soldarou Cheikhana Abass Sall (RTA) Ziarra Nguick 2018</span> 
<!--                 <h4 class="card-title">DPR Setujui Penambahan Anggaran BP Batam Rp565 Miliar</h4>
                <p class="textfeat" style="display: none;">makro.id - Dewan Perwakilan Rakyat (DPR) menyetujui penambahan anggaran Badan Pengusahaan (BP) Batam Rp565 miliar. Dengan penambahan anggaran di tahun 2019 tersebut diharapkan dapat mendorong percepatan pembangunan Kota Batam. Anggota Komisi</p>
 -->              </a>
            </div>
          </div>
        </div>
        <div class="carousel-item">       
          <div class="card bg-dark text-white">
            <img class="card-img" src="/assets/soldatyi2.jpeg" alt="Card image">
            <div class="card-img-overlay d-flex linkfeat">
              <a class="align-self-end">
              <span class="badge">Soldarou Cheikhana Abass Sall (RTA) Ziarra Nguick 2018</span> 
<!--                 <h4 class="card-title">BTN Targetkan Seribu Nasabah Valas di Batam</h4>
                <p class="textfeat" style="display: none;">makro.id - Bank Tabungan Negara (Persero) resmi merilis tabungan valuta asing (valas) di Batam. Sebagai daerah yang berbatasan langsung dengan Singapura dan sebagai pintu gerbang wisatawan mancanegara (wisman), transaksi valas</p>
 -->              </a>
            </div>
          </div>
        </div>
        <div class="carousel-item">       
          <div class="card bg-dark text-white">
            <img class="card-img" src="/assets/soldatyi3.jpeg" alt="Card image">
            <div class="card-img-overlay d-flex linkfeat">
              <a class="align-self-end">
              <span class="badge">Soldarou Cheikhana Abass Sall (RTA) Ziarra Nguick 2018</span> 
<!--                 <h4 class="card-title">Sistem OSS Resmi Diluncurkan</h4>
                <p class="textfeat" style="display: none;">makro.id - Menteri Koordinator Bidang Perekonomian Darmin Nasution bersama dengan para menteri dan kepala lembaga terkait meresmikan penerapan Sistem Online Single Submission (OSS). Layanan Perizinan Berusaha Terintegrasi Secara Elektronik (PBTSE), yang
 -->                </p>
              </a>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="card bg-dark text-white">
            <img class="card-img" src="/assets/armelsetna.jpeg" alt="Card image">
            <div class="card-img-overlay d-flex linkfeat">
              <a class="align-self-end">
                <span class="badge"> Ziarra Nguick 2018</span> 
<!--                 <h4 class="card-title">Grab Gandeng Samsung, Telkomsel, dan Erafone</h4>
                <p class="textfeat" style="display: none;">:: Luncurkan Program Ponsel Cerdas untuk Pengemudi Batam - Grab menjalin kemitraan strategis dengan tiga perusahaan terkemuka di Indonesia yaitu Telkomsel, Samsung, dan Erafone terkait program kepemilikan ponsel cerdas khusus untuk
 -->                </p>
              </a>
            </div>
          </div>
        </div>
        <div class="carousel-item">       
          <div class="card bg-dark text-white">
            <img class="card-img" src="/assets/programeziarranguick.jpg" alt="Card image">
            <div class="card-img-overlay d-flex linkfeat">
              <a  class="align-self-end">
                <span class="badge">Photos Ziarra Nguick 2018</span> 
<!--                 <h4 class="card-title">Paket Kebijakan Ekonomi Mempermudah Izin Investasi</h4>
                <p class="textfeat" style="display: none;">makro.id– Paket kebijakan ekonomi dinilai dapat memberikan kemudahan dalam pengurusan perizinan berinvestasi dan memberikan efek yang cukup signifikan kepada investor. Ketua Umum Himpunan Kawasan Industri (HKI) Sanny Iskandar menyatakan saat ini</p>
 -->              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

 <hr>
 <h4>Divers Causeries</h4>
<div class="container py-5 bg-faded">
  <div class="card-columns">
    <div class="card p-1 text-left">
      <div class="card">
        <img class="card-img" src="/assets/mansoursallakasswade.jpg" alt="Card image">
      </div>
      <blockquote class="blockquote mb-0">
        <p>Wakhtanou Serigne Mansour Sall Ziarra Nguick 2017</p>
      </blockquote>
      <audio src="/assets/wakhtaneserignemansour.mp3" type="audio/mp3" controls>
        Your browser does not support the audio element.
      </audio>
    </div>

    <div class="card p-1 text-left">
      <div class="card">
        <img class="card-img" src="/assets/tontonmansour.jpg" alt="Card image">
      </div>
      <blockquote class="blockquote mb-0">
        <p>Wakhtanou Serigne Mansour Sall Ngick 2017 Part-01</p>
      </blockquote>
      <audio src="/assets/wakhtanouserignemansour2.mp3" type="audio/mp3" controls>
        Your browser does not support the audio element.
      </audio>
    </div>

    <div class="card p-1 text-left">
      <div class="card">
        <img class="card-img" src="/assets/tontonmansour.jpg" alt="Card image">
      </div>
      <blockquote class="blockquote mb-0">
        <p>Wakhtanou Serigne Mansour Sall Ngick 2017 Part-02</p>
      </blockquote>
      <audio src="/assets/wakhtanouserignemansour3.mp3" type="audio/mp3" controls>
        Your browser does not support the audio element.
      </audio>
    </div>
      
    <div class="card p-1 text-left">
      <div class="card">
       <iframe width="279 auto" height="auto" src="https://www.youtube.com/embed/ehN6rhgXBk0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen>
       </iframe>
      </div>
      <blockquote class="blockquote mb-0">
       <p>Cheikh Tidiane Gaye(RTA) Sur La Biographie De Cheikhana Abass Sall (RTA).</p>
      </blockquote>
    </div>

    <div class="card p-1 text-left">
      <div class="card">
        <img class="card-img" src="/assets/mansoursall.png" alt="Card image">
      </div>
      <blockquote class="blockquote mb-0">
       <p>Serigne Mansour Sall Sur Les Benefits De La Fatiha De Seydina Muhammad (SAWS).</p>
      </blockquote>
      <audio src="/assets/wakhtanuserignemansour4.mp3" type="audio/mp3" controls>
       Your browser does not support the audio element.
      </audio>
    </div>


    <div class="card p-1 text-left">
      <div class="card">
       <img class="card-img" src="/assets/abassthumbpic.jpg" alt="Card image">
      </div>
      <blockquote class="blockquote mb-0">
       <p>Wakhtanou Cheikhana Abass Sall (RTA) Sur La Ziarra Nguick</p>
      </blockquote>
      <audio src="/assets/wakhtanoumarasurnguick.mp3" type="audio/mp3" preload controls>
        Your browser does not support the audio element.
      </audio>
    </div>
 
    <div class="card p-1 text-left">
      <div class="card">
        <img class="card-img" src="/assets/muharam.jpg" alt="Card image">
      </div>
      <blockquote class="blockquote mb-0">
       <p>Imam Ahmet Baye Dame Ci Werou Muharram</p>
      </blockquote>
      <audio src="/assets/bayedame.mp3" type="audio/mp3" preload controls>
        Your browser does not support the audio element.
      </audio>
    </div>

    <div class="card p-1 text-left">
      <div class="card">
        <img class="card-img" src="/assets/barro.png" alt="Card image">
      </div>
      <blockquote class="blockquote mb-0">
        <p> Hommage De Imam Ahmet Baye Dame à Thierno Tidiane Barro (RTA) Ibn Cheikh Mouhamadoul Mansour Barro
        </p>
      </blockquote>
      <audio src="/assets/bayedame2.mp3" type="audio/mp3" preload controls>
        Your browser does not support the audio element.
      </audio>
    </div>

    <div class="card p-1 text-left">
      <div class="card">
       <img class="card-img" src="/assets/ahmedsall.jpg" alt="Card image">
      </div>
      <blockquote class="blockquote mb-0">
        <p> Serigne Ahmed Sall (RTA) Ibn Serigne Abass Sall (rta) Nguick</p>
      </blockquote>
      <audio src="/assets/ahmedsallnguick.mp3" type="audio/mp3" preload controls>
       Your browser does not support the audio element.
      </audio>
    </div>

    <div class="card p-1 text-left">
      <div class="card">
        <img class="card-img" src="/assets/abassassie.jpg" alt="Card image">
      </div>
      <blockquote class="blockquote mb-0">
        <p> Cheikhana Abass Sall (RTA) Sur Les Benefices De La Ziarra Nguick</p>
      </blockquote>
      <audio src="/assets/maranguick.mp3" type="audio/mp3" controls>
       Your browser does not support the audio element.
      </audio>
    </div>

    <div class="card p-1 text-left">
      <div class="card">
        <img class="card-img" src="/assets/Serigne_abass.jpg" alt="Card image">
      </div>
      <blockquote class="blockquote mb-0">
        <p> Cheikhana Abass Sall (RTA) Sur La Tariqa Tidjane.</p>
      </blockquote>
      <audio src="/assets/tarikhatidjanemara.mp3" type="audio/mp3" preload controls>
        Your browser does not support the audio element.
      </audio>
    </div>

    <div class="card p-1 text-left">
      <div class="card">
        <img class="card-img" src="/assets/imambayedame.png" alt="Card image">
      </div>
      <blockquote class="blockquote mb-0">
        <p> Imam Baye Dame Wade Et Son Groupe Nguick 2017.</p>
      </blockquote>
      <audio src="/assets/BayeDamenguick2017.mp3" type="audio/mp3" preload controls>
        Your browser does not support the audio element.
      </audio>
    </div>

    <div class="card p-1 text-left">
      <div class="card">
        <img class="card-img" src="/assets/cheikhmarabass.jpg" alt="Card image">
      </div>
      <blockquote class="blockquote mb-0">
        <p> Cheikh Mar Abass Nguick 2017.</p>
      </blockquote>
      <audio src="/assets/cheikhmarabass.mp3" type="audio/mp3" preload controls>
        Your browser does not support the audio element.
      </audio>
    </div>

    <div class="card p-1 text-left">
      <div class="card">
        <img class="card-img" src="/assets/sabass.jpg" alt="Card image">
      </div>
      <blockquote class="blockquote mb-0">
        <p>Qasida Audio Nguick 2017</p>
      </blockquote>
      <audio src="/assets/weyounguick.mp3" type="audio/mp3" preload controls>
        Your browser does not support the audio element.
      </audio>
    </div>

    <div class="card p-1 text-left">
      <div class="card">
        <img class="card-img" src="/assets/imambayedame.png" alt="Card image">
      </div>
      <blockquote class="blockquote mb-0">
        <p>Imam Ahmet Baye Dame Sur L'histoire De La Ziarra Nguick</p>
      </blockquote>
      <audio src="/assets/imambaydamehistoirenguick.mp3" type="audio/mp3" preload controls>
        Your browser does not support the audio element.
      </audio>
    </div>

    <div class="card p-1 text-left">
      <div class="card">
        <img class="card-img" src="/assets/matalphoto.jpg" alt="Card image">
      </div>
      <blockquote class="blockquote mb-0">
        <p>Cheikh Mbengue - Yalla La Mattal</p>
      </blockquote>
      <audio src="/assets/matalwey.mp3" type="audio/mp3" preload controls>
        Your browser does not support the audio element.
      </audio>
    </div>

<!-- 
        <div class="card">
            <img class="card-img img-fluid" src="//placehold.it/800x1230/cc4444/FFF" alt="Card image">
        </div>
        <div class="card">
            <img class="card-img-top img-fluid" src="//placehold.it/800x600" alt="Card image cap">
        </div>
        <div class="card">
            <img class="card-img-top img-fluid" src="//placehold.it/800x600" alt="Card image cap">
        </div>
        <div class="card">
            <img class="card-img-top img-fluid" src="//placehold.it/800x600/eee/000" alt="Card image cap">
        </div>
        <div class="card">
            <img class="card-img-top img-fluid" src="//placehold.it/800x600" alt="Card image cap">
        </div>
        <div class="card">
            <img class="card-img-top img-fluid" src="//placehold.it/800x600" alt="Card image cap">
        </div>
        <div class="card">
            <img class="card-img img-fluid" src="//placehold.it/800x1230/111/FFF" alt="Card image">
        </div>
        <div class="card">
            <img class="card-img-top img-fluid" src="//placehold.it/800x600" alt="Card image cap">
        </div>
        <div class="card">
            <img class="card-img-top img-fluid" src="//placehold.it/800x600/333" alt="Card image cap">
        </div>
        <div class="card">
            <img class="card-img-top img-fluid" src="//placehold.it/800x600" alt="Card image cap">
        </div>
        <div class="card">
            <img class="card-img-top img-fluid" src="//placehold.it/800x600/cc44cc/000" alt="Card image cap">
        </div>
        <div class="card">
            <img class="card-img-top img-fluid" src="//placehold.it/800x600" alt="Card image cap">
        </div> -->
    </div>
</div>

<!--   <div class="media-headings">
    <div class="row">
      <div class="col-md-12">
        <div class="media">
           <a href="..." class="pull-left">
            <img alt="Bootstrap Media Preview" src="/assets/abassthumbpic.jpg" class="media-object">
          </a>
          <div class="media-body">
            <h4 class="media-heading">
             Media heading
            </h4> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
                    </div>
        </div>
        <div class="media">
           <a href="#" class="pull-left">
            <img alt="Bootstrap Media Preview" src="/assets/abassthumbpic.jpg" class="media-object">
          </a>
          <div class="media-body">
            <h4 class="media-heading">
              Media heading
            </h4> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
            </div>
        </div> 
        <div class="media">
           <a href="#" class="pull-left">
            <img alt="Bootstrap Media Preview" src="/assets/abassthumbpic.jpg" class="media-object">
          </a>
          <div class="media-body">
            <h4 class="media-heading">
              Media heading
            </h4> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
            </div>
        </div> 
        <div class="media">
           <a href="#" class="pull-left">
            <img alt="Bootstrap Media Preview" src="/assets/abassthumbpic.jpg" class="media-object">
          </a>
          <div class="media-body">
            <h4 class="media-heading">
              Media heading
            </h4> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
            </div>
        </div> 
      </div>
    </div>
  </div>
 -->
</div>


<!--   <%= audio_tag "http://quraan.us:9850/;", id: "sound", class: "audio-to-play", autoplay: true %>


  <!-- <%= audio_tag "Tawassoul.mp3", id: "sound", class: "audio-to-play", autoplay: true %> -->
