// ---------------------------------MAIN PAGE CSS---------------------------------

.css-slideshow{
  position: relative;
  max-width: 900px;
  height: 600px;
  margin: 5em auto .5em auto;
}
.css-slideshow figure{
  margin: 0;
  max-width: 900px;
  height: 600px;
  background: #000;
  position: absolute;
}
.css-slideshow img{
  box-shadow: 0 0 2px #666;
}
.css-slideshow figcaption{
  position: absolute;
  top: 0;
  color: #fff;
  background: rgba(0,0,0, .3);
  font-size: .8em;
  padding: 8px 12px;
  opacity: 0;
  transition: opacity .5s;
}
.css-slideshow:hover figure figcaption{
  transition: opacity .5s;
  opacity: 1;
}
.css-slideshow-attr{
  max-width: 495px;
  text-align: right;
  font-size: .7em;
  font-style: italic;
  margin:0 auto;
}
.css-slideshow-attr a{
  color: #666;
}
.css-slideshow figure{
  opacity:0;
}
figure:nth-child(1) {
  animation: xfade 48s 42s infinite;
}
figure:nth-child(2) {
  animation: xfade 48s 36s infinite;
}
figure:nth-child(3) {
  animation: xfade 48s 30s infinite;
}
figure:nth-child(4) {
  animation: xfade 48s 24s infinite;
}
figure:nth-child(5) {
  animation: xfade 48s 18s infinite;
}
figure:nth-child(6) {
  animation: xfade 48s 12s infinite;
}
figure:nth-child(7) {
  animation: xfade 48s 6s infinite;
}
figure:nth-child(8) {
  animation: xfade 48s 0s infinite;
}

@keyframes xfade{
  0%{
    opacity: 1;
  }
  10.5% {
    opacity: 1;
  }
  12.5%{
    opacity: 0;
  }
  98% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.hero-content-area{
    opacity: 0;
    margin-top: 100px;
    -webkit-animation: 1s slidefade 1s forwards;
            animation: 1s slidefade 1s forwards;
}
.grid{
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

hr{
    width: 100%;
    height: 2px;
    background-color: #3f51b5;
    border: 0;
    margin-bottom: 50px;
}



@media (max-width: 800px){

  .hero{
    min-height: 600px;
  }
  .hero h1{
    font-size: 48px;
  }

  .hero h3{
    font-size: 24px;
  }

  .hero a.btn{
    padding: 15px 40px;
  }

}

section h3.title{
    text-transform: capitalize;
    font: bold 32px "Open Sans", sans-serif;
    margin-bottom: 30px;
    text-align: center;
}


.destinations .grid li{
    height: 350px;
    padding: 0;
    background-clip: content-box;
    background-size: cover;
    background-position: center;
}

.destinations .grid li.small{
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
}

.destnations .grid li.large{
    -ms-flex-preferred-size: 70%;
        flex-basis: 70%;
}


section{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 100px;
}

/*---------------------
  Contact Section
---------------------*/

.contact{
  background-color: #f7f7f7;
}

.contact form{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  max-width: 800px;
  width: 80%;
}

.contact form input{
  padding: 15px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 30px;
  font-size: 18px;
  color: #555;
}

.contact form .btn{
  padding: 18px 42px;
}


@media (max-width: 800px){

  .contact form input{
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin: 0 0 20px 0;
  }

}

.slide {
  width: 800px; 
  margin: 0 auto
}


/*-------------
  Footer
-------------*/

footer{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #fff;
  background-color: #414a4f;
  padding: 60px 0;
}

footer ul{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 25px;
  font-size: 32px;
}

footer ul li{
  margin: 0 8px;  
}

footer ul li:first-child{
  margin-left: 0; 
}

footer ul li:last-child{
  margin-right: 0;  
}

footer p{
  text-transform: uppercase;
  font-size: 14px;
  color: rgba(255,255,255,0.6);
  margin-bottom: 10px;
}

footer p a{
  color: #fff;
}

@media (max-width: 700px){

  footer{
    padding: 80px 15px;
  }

}

.navbar-brand {
  font-weight: bolder;
  color: #1B100F !important;
}
a {
  color: #222222;
}
.posts.index {
  .digg_pagination {
  .previous_page { background:#7777ff; color:white }
  .previous_page.disabled { background: white; color: #777 }
  .current { background: blrgb(177, 178, 250)ue }
  .next_page { background: #7777ff; color: white }
  .next_page.disabled { background: white; color: #777 }
}
  .aboutPage a{
    padding-right: 2em;
  }
  .card {
    border: none;
    border-radius: 0;
    // border-bottom: 1px solid #181818; MAY NEED IT LATER JUST FOR DIFFERENT STYLES
    height: auto !important;
    margin-bottom: 20px;
    background-color: white;
    p {
      margin-bottom: 0;
    }
    .card-topper {
      height: 250px;
      width: 100%;
      background-size: cover;
      background-position: center;
    }
    .card-block {
      padding: 10px;
      .btn-read {
        font-size: 1em !important;
        background-color: #e8e8e8;
        font-weight: 300;
        border-radius: 0;
        color: black;
        &:hover {
          background-color: #d8d8d8;
        }
      }
      .card-title {
        font-size: 1.3rem;
        margin-bottom: 0;
        a {
          color: black;
          text-decoration: none;
        }
      }
      .tags {
        margin-bottom: 0;
        a {
          font-family: 'Montserrat', sans-serif;
          font-size: 16px;
        }
      }
      .published_date {
        font-size: 0.8rem;
        color: #787878;
        font-weight: 300;
        margin-top: 0.3rem;
        margin-bottom: 0.3rem;
      }
      .card-text {
        font-size: 0.9rem;
        color: black;
        text-decoration: none;
      }
    }
  }
  .card:hover::before, .card:hover::after, .card:focus::before, .card:focus::after {
    transform: scale3d(2, 2, 2);
  }
  .card-title i:hover{
  transform: scale(1.25) rotate(100deg);
  color:#18d4ca;
  }
  .card:hover{
    transform: scale(1.05);
    box-shadow: 10px 10px 15px rgba(0,0,0,0.3);
  }
    .card-data {
      background-color:#343a40;
       // #929FBA;
      color: #fff;
      text-align: center;
      height: auto;
      // padding: 10px;
        ul {
      margin-bottom: 0;
      padding-left: 0;
      font-size: .8rem;
    }
      ul li {
        display: inline;
    }
      ul a .fa {
      margin-left: 5px;
      margin-right: 3px;
    }

  }
  .fa-lg {
    font-size: 1.6em;
    line-height: .75em;
    vertical-align: -15%;
}
  a:focus, a:hover, a:active {
    text-decoration: none;
}
.text-black {
    color: #333 !important;
}
a.text-black:focus, a.text-black:hover {
    color: #7b7b7b !important;
}
hr {
  height: 2px;
    background-color: #ed1d61;
    border:none
}
.list {
    display: block;
    background-color: rgba(255,255,255,.8);
    box-shadow: 0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
    border-radius: 2px;
    transition: all .2s ease-in-out;
}
.list-header {
    display: block;
    float: left;
    width: 35%;
    overflow: hidden;
    position: relative;
    border-radius: 2px 0 0 2px;
}
.list-header img {
    width: 100%;
}
.list-header .list-header-image:after {
    display: block;
    content: '';
    background-color: rgba(0,0,0,.4);
    position: absolute;
    top: 100%;
    left: 100%;
    width: 100px;
    height: 100px;
    box-shadow: 0 0 200px 100px rgba(0,0,0,.58);
    z-index: 1;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    opacity: 0;
    filter: alpha(opacity=0);
    transition: all .8s;
    -moz-transition: all .8s;
    -webkit-transition: all .8s;
    -o-transition: all .8s;
}
.list-content {
    display: block;
    margin-left: 35%;
    padding: 15px;
    position: relative;
}
// .list-meta {
//     display: block;
//     margin-bottom: 16px;
//     font-size: 13px;
//     line-height: 100%;
// }

// .list-meta .list-meta-item {
//     display: inline-block;
//     margin-right: 18px;
//     color: #9A9A9A;
// }

.mb-2, .my-2 {
    margin-bottom: 2rem !important;
}
.list:after {
    display: block;
    clear: both;
    content: '';
}
.list:hover {
    box-shadow: 0 10px 20px rgba(0,0,0,.19),0 6px 6px rgba(0,0,0,.23);
}
.digg_pagination {
  margin-left: 220px;
  margin-right: 200px;
  padding-left: 200px;
}

@media only screen and (max-width: 991px) {


  .digg_pagination {
    margin-left: 220px;
    margin-right: 200px;
    padding-left: 200px;
  }

  .list-header {
    display: block;
    width: 100%;
    padding: 0;
    border-radius: 0;
  }

  .list-content {
    display: block;
    width: 100%;
    margin-left: 0;
    padding: 15px;
    clear: both;
  }
}


body {
  font-family: 'Open Sans', sans-serif;
  padding-top: 10px;
  background-color: #f3f5f6;
}



}



.card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 4;
  }
  @include media-breakpoint-only(xl) {
    column-count: 4;
  }
}


.media {
  img {
    width: 150px;
    padding-right: 10px;
    padding-bottom: 20px;
  }
}

.blockquote {
  p {
  font-size: 14px;
}
}

.author-bio {
  background-color: white;
  padding: 15px 45px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin: 30px 0;
  text-align: center;
  // img {
  //   border-radius: 50%;
  // }
  // img, h4 {
  //   margin-bottom: 10px;
  // }
  h4 {
    text-align: center;
    font-weight: bold;
    font-size: 22px;
  }
  h6 {
    font-weight: 500;
    font-size: 18px;
  }
}

.posts.edit, .posts.new {
  .card {
    .card-body {
      background-color: $light-gray;
    }
    .card-title {
      margin-bottom: 0;
      font-size: 18px;
    }
    .list-group-item {
      padding: 10px;
      border-right: 0;
      border-left: 0;
      input[type='text'], textarea {
        font-size: 14px;
        background-color: $light-gray;
      }
      textarea {
        height: 100px;
      }
      &:last-child {
        background-color: $light-gray;
      }
    }
  }
}
footer p, footer h3 {
  color: #999;
  text-align: center;
}
@media screen and (min-width: 34em) {

  .digg_pagination {
    margin-left: 220px;
    margin-right: 200px;
    padding-left: 200px;
  }

  .posts.index .card {
    height: 440px;
  }
}
// Medium. Above 48em (768px)
@media screen and (min-width: 48em) {
  .posts.index .card {
    height: 420px;
  }
}
// Medium. Above 75em (1200px)
@media screen and (min-width: 75em) {
  .posts.index .card {
    height: 415px;
  }
  .container {
    max-width: 1280px;
}
}

.link {
  border: 5px solid black;
}
.field {
  // margin-top: 4em;
}
// ------------------------------END MAIN PAGE CSS---------------------------------


// -----------------------------HOME PAGE CSS--------------------------------------

.jumbotron .h1, .jumbotron h1 {
    font-size: 43px;
}
h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: #303030;
    font-weight: 600;
    margin-bottom: 30px;
}
h4 {
    font-size: 19px;
    line-height: 1.375em;
    color: #303030;
    font-weight: 400;
    /*margin-bottom: 30px;*/
}
  .container {
/*     max-width: 1140px; */
  }

  /*home page accordion css */

.card-body {
    flex: 1 1 auto;
    padding: 1.25rem;
    overflow: scroll;
    height: 400px;
    width: auto
}

.nav-tabs {
  /*display:none;*/
}
/*
@media(min-width:768px) {
  .nav-tabs {
    display: flex;
  }

  .card {
    border: none;
  }

  .card .card-header {
    display:none;
  }  

  .card .collapse{
    display:block;
  }
}

@media(max-width:767px){
  .tab-pane {
    display: block !important;
    opacity: 1;
  }
}*/
/*home page accordion css end*/

.jumbotron {
    background-color: #f4511e;
    color: #fff;
    padding: 100px 25px;
    font-family: Montserrat, sans-serif;
}
.container-fluid {
    padding: 60px 50px;
}
.bg-grey {
    background-color: #f6f6f6;
}
.bg-dark {
    background-color: #a74724 !important;
}
.logo-small {
    color: #f4511e;
    font-size: 50px;
}
.logo {
    color: #f4511e;
    font-size: 200px;
}
.thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
}
.thumbnail img {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}
.carousel-control.right, .carousel-control.left {
    background-image: none;
    color: #f4511e;
}
.carousel-indicators li {
    border-color: #f4511e;
}
.carousel-indicators li.active {
    background-color: #f4511e;
}
.item h4 {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    font-style: italic;
    margin: 70px 0;
}
.item span {
    font-style: normal;
}
.panel {
    border: 1px solid #f4511e;
    border-radius:0 !important;
    transition: box-shadow 0.5s;
}
.panel:hover {
    box-shadow: 5px 0px 40px rgba(0,0,0, .2);
}
.panel-footer .btn:hover {
    border: 1px solid #f4511e;
    background-color: #fff !important;
    color: #f4511e;
}
.panel-heading {
    color: #fff !important;
    background-color: #f4511e !important;
    padding: 25px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.panel-footer {
    background-color: white !important;
}
.panel-footer h3 {
    font-size: 32px;
}
.panel-footer h4 {
    color: #aaa;
    font-size: 14px;
}
.panel-footer .btn {
    margin: 15px 0;
    background-color: #f4511e;
    color: #fff;
}
.navbar {
    /* margin-bottom: 0; */
    background-color: #f4511e;
    z-index: 9999;
    border: 0;
    /* font-size: 12px !important; */
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
}
.navbar-nav {
  margin-left: 100px;
}

// footer .glyphicon {
//     font-size: 20px;
//     margin-bottom: 20px;
//     color: #f4511e;
// }
.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
// .fa-signal:before {
//     // content: "\e018";
// }
.fa-9x {
  font-size: 19em;
  line-height: none;
}
.fas {
  color: #f4511e;
}
.glyphicon-globe:before {
    content: "\e135";
}
.slideanim {visibility:hidden;}
.slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
}
@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(70%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@-webkit-keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}
@media screen and (max-width: 768px) {
  .col-sm-4 {
    text-align: center;
    margin: 25px 0;
  }
  .btn-lg {
      width: 100%;
      margin-bottom: 35px;
  }
    .slide {
    width: auto; 
    margin: 0 auto
}


}
@media screen and (max-width: 480px) {
  .logo {
      font-size: 150px;
  }
  .slide {
    width: auto; 
    margin: 0 auto
}

}
// -----------------------------END HOME PAGE CSS--------------------------------------

// footer
footer.nb-footer {
background: #222;
border-top: 4px solid #b78c33; }
footer.nb-footer .about {
margin: 0 auto;
margin-top: 40px;
max-width: 1170px;
text-align: center; }
footer.nb-footer .about p {
font-size: 13px;
color: #999;
margin-top: 30px; }
footer.nb-footer .about .social-media {
margin-top: 15px; }
footer.nb-footer .about .social-media xl lx a {
display: inline-block;
width: 45px;
height: 45px;
line-height: 45px;
border-radius: 50%;
font-size: 16px;
color: #b78c33;
border: 1px solid rgba(255, 255, 255, 0.3); }
footer.nb-footer .about .social-media xl lx a:hover {
background: #b78c33;
color: #fff;
border-color: #b78c33; }
footer.nb-footer .footer-info-single {
margin-top: 30px; }
footer.nb-footer .footer-info-single .title {
color: #aaa;
text-transform: uppercase;
font-size: 16px;
border-left: 4px solid #b78c33;
padding-left: 5px; }
footer.nb-footer .footer-info-single xl lx a {
display: block;
color: #aaa;
padding: 2px 0; }
footer.nb-footer .footer-info-single xl lx a:hover {
color: #b78c33; }
footer.nb-footer .footer-info-single p {
font-size: 13px;
line-height: 20px;
color: #aaa; }
footer.nb-footer .copyright {
margin-top: 15px;
background: #111;
padding: 7px 0;
color: #999; }
footer.nb-footer .copyright p {
margin: 0;
padding: 0; }
